[2018-01-08 14:02] Abhijith-G opened #6 "wrapped app is not working in ios"
Could anyone help me on this.

![issue_ios_wrapping](https://user-images.githubusercontent.com/28953577/34674063-822a2668-f4aa-11e7-9f2b-4b4a6ecd4705.PNG)

[2018-01-08 15:46] msintuneappsdk commented on #6
Hi @Abhijith-G, please ensure that Intune application protection policy is targeted to a group that contains the organizational account that you wish to use with the app.

[2018-01-09 05:04] Abhijith-G commented on #6
@msintuneappsdk ,
We have wrapped another app with same methods and deployed to same group users , That works without any issue. Could you please help.

[2018-01-09 10:48] Abhijith-G commented on #6
@msintuneappsdk Thanks for the help . The issue is resolved now. I have another question, Could you please answer me.
After wrapping an ipa, its bundle identifier got changed. is this an expected behaviour.

![image](https://user-images.githubusercontent.com/28953577/34717337-b5afb8c8-f558-11e7-9639-aaa79b678482.png)

[2018-01-10 04:43] #6 closed

[2018-03-02 16:11] rliljest opened #7 "Wrapping tool wipes out localized Settings.bundle strings"
If your application has a Settings.bundle with localized strings (Root.plist and en.lproj/Root.strings), the wrapping tool will effectively remove the en.lproj/Root.strings file. It appears to be replacing the en.lproj dir in the Settings.bundle with a different one that has en.lproj/IntuneMAMChildPaneSettings.strings.

The wrapping tool should be able to keep the en.lproj/Root.strings file in the

[2018-03-08 18:24] msintuneappsdk commented on #7
Hi @rliljest, what version of the wrapper are you using? Are you working with a native iOS application? Is this behavior not seen when the app is not wrapped?

[2018-05-04 18:50] Kyle-Reis commented on #7
Hey @rliljest, we were able to reproduce this, and we're working on a fix.

[2018-05-30 16:49] ryandegruyter opened #8 "Face ID Crash"
When Face ID is set on the user device, the wrapped application crashes.

Do we have to set a specific permission?

[2018-05-31 17:11] msintuneappsdk commented on #8
Hi Ryan -

Upon first glance, our dev team believes that you may need to try adding the [NSFaceIDUsageDescription](https://developer.apple.com/library/content/documentation/General/Reference/InfoPlistKeyReference/Articles/CocoaKeys.html#//apple_ref/doc/uid/TP40009251-SW75) key to the info.plist of your app's source. This is so iOS can let show the user how the app intends to use Face ID, which is

[2018-06-01 12:18] ryandegruyter commented on #8
Correct.

We are building a Cordova application.

Adding

`<config-file parent="NSFaceIDUsageDescription" target="*-Info.plist">
            <string>
            </string>
        </config-file>`

In the config.xml, between the <platform name="ios"> tag resolves the issue.

[2018-06-01 12:18] #8 closed

[2018-07-05 08:29] martinlingstuyl opened #9 "Cannot upload a wrapped IPA to the App store"
Hi,

What I'm trying to do is deploying a version of our (Cordova) store app to the App Store under a different name (<appname> for Intune).

What I did was:
1. build a separate version of our existing store app with a different bundle identifier.
2. archived it using Xcode.
3. exported the archive to IPA (focused on the app store)
4. successfully wrapped the app by running the Intune App Wrapping

[2018-07-05 13:29] Kyle-Reis commented on #7
This issue is fixed in the latest release (8.0.14)

[2018-07-05 18:34] martinlingstuyl commented on #9
By the way: I reproduced the error with a Blank Cordova app without any plugins.
The issue was exactly the same. It appears the wrapping tool itself adds the ADAL framework.

[2018-07-09 14:43] msintuneappsdk commented on #7
Closing issue.

[2018-07-09 14:43] #7 closed

[2018-08-07 20:03] Kyle-Reis commented on #9
@martinlingstuyl, the error you are seeing related to incomplete bitcode in ADAL should be addressed in the latest release (8.1.1)

[2018-08-08 21:12] clfristoe opened #10 "Cannot run terminal commands after downloading and installing tool"
When I run the .dmg it gets mounted separately and I get the following terminal error when trying to wrap an app.

<img width="568" alt="screen shot 2018-08-08 at 4 11 38 pm" src="https://user-images.githubusercontent.com/15655814/43864617-c4fa9b04-9b25-11e8-9e36-3a29f83e0482.png">

[2018-08-09 13:17] Kyle-Reis commented on #10
Hey @clfristoe, I'm guessing that you executed the above command from the /Volumes directory, and that you mounted 8.1.1 before unmounting the older version, then unmounted the older one? I just tried this myself and am getting the same error. It seems that in this case, Finder displays both the new and old volumes as "IntuneMAMPackager", but in reality, the new version has been mounted as "Intune

[2018-08-09 13:52] clfristoe commented on #10
@Kyle-Reis Thank you for the quick reply! This is my first time installing and using the wrapping tool, so I don't have an older version on my machine. I unmounted version 8.1.1 and searched for any occurrences of Intune. I then remounted version 8.1.1 and ran the same command. In the documentation on Microsoft's site (https://docs.microsoft.com/en-us/intune/app-wrapper-prepare-ios), it says the p

[2018-08-09 14:09] clfristoe commented on #10
@Kyle-Reis after working it a bit more, I ended up copying the files inside IntuneMAMPackager to a file named Intune on my desktop. I then navigated to the Desktop and ran the following command :
./Intune/Contents/MacOS/IntuneMAMPackager -i ... and it worked properly.

[2018-08-09 14:09] #10 closed

[2018-08-09 14:16] Kyle-Reis commented on #10
@clfristoe In the future you can just run this command instead:

/Volumes/IntuneMAMPackager/Contents/MacOS/IntuneMAMPackager

You shouldn't need to copy the contents of the mounted volume anywhere.

I think what was happening was that you copy-pasted the exact command from that documentation, but weren't running it from the /Volumes directory. The "." at the beginning of the command you pasted mea

[2018-08-09 14:18] clfristoe commented on #10
@Kyle-Reis  I see, that makes sense. I just tried that and it worked. Thank you for the help.

[2018-08-09 14:24] Kyle-Reis commented on #10
Great to hear. I'll be submitting a change to the docs to avoid this sort of confusion for others :)

[2018-08-09 14:28] clfristoe commented on #10
I'm sure that will be helpful to many others!

[2018-08-10 10:03] martinlingstuyl commented on #9
Hi @Kyle-Reis,

I just tried the following:

1. Built and archived a new version of our app
2. Exported it from Xcode to ipa using Ad Hoc targeted export
3. Sideloaded the ipa using iTunes: it works
4. Downloaded the 8.1.1 version of the app wrapping tool
5. Wrapped the ad hoc app
6. Sideloaded the wrapped ipa using iTunes: it works

7. Exported it from Xcode to ipa using App Store targeted export

[2018-08-10 13:33] Kyle-Reis commented on #9
Hey @martinlingstuyl, does your app have bitcode enabled?

[2018-08-13 09:18] martinlingstuyl commented on #9
No, it doesn’t.

[2018-08-16 06:18] Abhijith-G opened #11 "wrapped ipa can't upload to IOS Appstore"
Hello ,

Can we upload wrapped ipa wrapped using intune wrapping tool in ios appstore(xamarin forms app). Is it possible to do this.

Thanks in advance

[2018-08-16 06:30] EbinXav commented on #9
we also facing this same issue, our app developed by Xamarin forms and wrapped using intune wrapping tool after take ipa try to put on app store error will occur

ERROR ITMS-90668: "Invalid Bundle Executable. The executable file 'UandUST.iOS.app/Frameworks/ADAL.framework/ADAL' contains incomplete bitcode. To compile binaries with complete bitcode, open Xcode and choose Archive in the Product menu.

[2018-08-16 14:27] msintuneappsdk commented on #9
@EbinXav If you are using Xamarin to build your apps, we recommend using the Intune Xamarin Bindings for integration with Intune. Here is some documentation: https://docs.microsoft.com/en-us/intune/app-sdk-xamarin

@martinlingstuyl We are still looking into the bitcode issue overall.

[2018-08-16 14:30] msintuneappsdk commented on #11
Hi @Abhijith-G, we do not support Xamarin apps using the Intune app wrapping tool today. Please take a look at our Intune Xamarin Bindings: https://docs.microsoft.com/en-us/intune/app-sdk-xamarin

[2018-08-16 14:30] #11 closed

[2018-08-17 11:18] EbinXav commented on #9
Thank you for your response

Thanks and Regards,
Ebin Xavier

On Thu 16 Aug, 2018, 7:59 PM Microsoft Intune, <notifications@github.com>
wrote:

[2018-08-17 11:31] EbinXav commented on #9
Currently i'm working on this Intune SDK integration, our app using ADAL authentication for the sign in process, i got android build successfully with mam policies, but in iOS have some issues, like required some permissions on azure console. So i'm try to solve that issues.

[2018-09-10 02:48] deeyodc-symphony opened #12 "Getting NotEnoughProvisioingProfiles but no docs explaining this error"
I am currently trying to wrap an ipa with the InTune wrapping tool. However, I am getting an error that I can not seem to find any help or documentation on.

I have created signing certificate and provisioning profile but am always getting an error.

[2018-09-18 13:30] Kyle-Reis commented on #12
Hey @deeyodc-symphony, the wrapper should be outputting a more detailed message, but due to a bug you've uncovered, it is not. I'm working on the fix for that. The error message this token maps to is "There are more extensions than specified provisioning profiles. Each extension must have a corresponding provisioning profile, or a wildcard profile must be specified."

[2018-10-02 09:08] JaronLin commented on #9
It looks I encountered the same issue. Any update for this thread? BTW, as my experience, it also failed after uploading this app, wrapped or non-wrapped, to Intune as a LOB app and assign to specific groups. The error message shows on devices is some kind of "cannot download".

[2018-11-12 19:22] zalaris opened #13 "App data (local storage) is cleared after killing the wrapped app"
Hey,
We have Cordova app wrapped using Intune wrapper tool. Everything works fine except it wipes local storage of the app after you kill it. When you run it for the second time and then save some data, it stays untouched event if you kill the app. I noticed that wrapping tool set **MAMPolicyRequired** property to **YES** in Info.plist. It is written in the Intune SDK guides that in this case the

[2018-11-15 20:33] Kyle-Reis commented on #13
Hey @zalaris, could you collect the Intune logs after reproducing the issue, then email them to KyleReis@microsoft.com ? There should be a toggle switch available to enable the Intune diagnostics console in your app's settings under the iOS "Settings" app. Once you enable that, the next time you launch your app you should see our diagnostics console, where you can collect logs and share them out.

[2018-11-21 18:54] zalaris commented on #13
Hey @Kyle-Reis, I have sent Intune logs as you asked.

[2018-11-23 12:40] muringmachine opened #14 "Intune MAM Wrapper returns Illegal instruction: 4"
When trying to run the MAM Packager, the command returns error
line 4:   779 Illegal instruction: 4  intune/Contents/MacOS/IntuneMAMPackager

Version of MACOSX is 10.13.6
Version of XCode installed is Xcode 9.4.1
Build version 9F2000

Intel(R) Xeon(R) CPU E5-1650 v2 @ 3.50GHz
x86_64, i386

Is it possible to create a package that is compatible with the above architecture?

[2018-11-26 20:17] Kyle-Reis commented on #14
Hey @muringmachine, could you share the exact command you are running (don't include actual cert hash) along with full console output? Thanks.

[2018-11-27 06:58] muringmachine commented on #14
Hi @Kyle-Reis

This is the command we used to run the mam packager.
`intune/Contents/MacOS/IntuneMAMPackager -i MaskedApp.ipa -o MaskedApp-wrapped.ipa -p MaskedApp.mobileprovision -c notactualcerthash -v true`

This command works if we use our mac local machine with Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz

We tried this command in the Hosted MacOS Agent Pool in VSTS as we are setting up continuou

[2018-11-28 18:56] Kyle-Reis commented on #13
Hey @zalaris, I didn't see anything strange in the logs. I'm going to see if I can reproduce this myself. Just one clarifying question, by local app data, do you mean that files saved to local storage have gone missing, or do you mean items in the keychain can't be found?

[2018-11-28 19:32] Kyle-Reis commented on #14
Hey @muringmachine, is the OS version of the local machine the same as the hosted Mac?

[2018-11-29 00:14] muringmachine commented on #14
hi @Kyle-Reis, yes they are the same, the Version of MACOSX is 10.13.6.

[2018-11-29 22:47] rodfmarin opened #15 "Support the option to optionally resign"
Is it possible to support a scenario where the end user may not want to resign _inline_ with this utility?  possibly in some other step later on?

[2018-11-30 10:47] zalaris commented on #13
Hi @Kyle-Reis,
I mean local storage for web app including WEB SQL and Indexed DB items. Those marked in red from screenshot below (Google Chrome console):
![image](https://user-images.githubusercontent.com/44980812/49284687-01fa6f80-f49e-11e8-846f-74aea2e86a27.png)

[2018-12-05 13:44] muringmachine commented on #14
Hey @Kyle-Reis - sorry for the follow up, but is their any possible resolution for this issue?

[2018-12-06 15:24] Kyle-Reis commented on #14
Hey @muringmachine, I tried running the wrapper in the exact environment you described:

 - Mac Pro "Six Core" 3.5 (Late 2013) - this is the only model which has the processor you described.
- MacOS version 10.13.6
- Xcode version 9.4.1

I was unable to reproduce this error. Are you using the [latest release](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/releases/tag/9.0.3) of the

[2018-12-10 13:08] muringmachine commented on #14
Hello @Kyle-Reis - Thanks for providing the latest release link. I used that package to run the MAM command but same issue occurs. Attaching here a screenshot of the output, hope this can help.

![screenshot](https://user-images.githubusercontent.com/45289280/49734495-72379b00-fcbf-11e8-80c3-d7836f91c55b.JPG)

[2018-12-19 12:05] smarten-spaces opened #16 "SegmentationFault:11"
Hi,

I am trying to run the IntuneMAMPackager but i get segmentationfault:11 everytime, and there is nothing getting printed on the logs.

here is the command i am using:
**_/Volumes/IntuneMAMPackager/Contents/MacOS/IntuneMAMPackager -i ~/Desktop/MyApp/MyApp.ipa -o ~/Desktop/MyIntuneApp.ipa -p ~/Desktop/MyApp/MyApp.mobileprovision -c “SHA-1 key here” -v true_**

what am i doing wrong here?

[2018-12-19 15:05] Kyle-Reis commented on #16
Hey @smarten-spaces, which version of the packager are you using? We've seen a similar issue in the past, where the problem turned out to be that the signing certificate was revoked. Could you verify that you are using a valid SHA-1 hash for a valid signing cert?

[2019-01-08 09:02] shacharudi opened #17 "Failed to inject IntuneMAM.framework into the app"
Hi,

I'm trying to wrap my iOS app but getting this error:
[code]

Not sure if it's related but before the command fails I'm getting this warning:
[code]

This is the command I'm using:
[code]

I couldn't find anything about it online.. any idea's what could be the issue?

Thank you!

[2019-01-11 03:01] iOSUserMe commented on #16
Hi @smarten-spaces , I have faced same issue and able to resolve by modifying double quotes format.
It is just syntax error what I was facing, Hope the same issue for you.

/Volumes/IntuneMAMPackager/Contents/MacOS/IntuneMAMPackager -i ~/Desktop/MyApp/MyApp.ipa -o ~/Desktop/MyIntuneApp.ipa -p ~/Desktop/MyApp/MyApp.mobileprovision -c **“SHA-1 key here”** -v true
to
/Volumes/IntuneMAMPackager/Conten

[2019-02-01 06:43] vishnugnair commented on #12
Hi @deeyodc-symphony were you able to fix the issue? I am facing the exact same problem now.

[2019-02-13 08:27] shacharudi commented on #17
I managed to solve this by disabling `enable bitcode` under the target `Build Settings`

[2019-02-25 13:08] quantumarun opened #18 "Is it possible to automate app wrapping using Azure DevOps?"
We are working on integrating Intune MAM for our mobile applications to deploy apps without enrolment. Our apps are already live and were developed long back. To avoid integrating SDK we are evaluating wrapping tool.

Do we have support to integrate Intune wrapping tool to CI/CD system. Do we already have a task in Azure DevOps/Pipeline to automate this or can team provide any plugin/script to aut

[2019-04-09 00:32] msintuneappsdk commented on #18
Hi @quantumarun, unfortunately there is no task today in Azure DevOps/Pipeline to automate Intune app wrapping today. If this is something you think should be added to the product, please provide your idea using [UserVoice](https://microsoftintune.uservoice.com/forums/291681-ideas?category_id=148986).

There are some customers who have investigated it themselves and successfully been able to wrap

[2019-04-09 00:32] #18 closed

[2019-04-15 16:42] consoleboy opened #19 "Wrapping fails on an app that already has ADAL."
Wrapping fails when we try to inject an App that already has the ADAL library.
Is the iOS wrapping tool only for apps that do not have ADAL already installed?

Thank you.

Warren
![imgo-1](https://user-images.githubusercontent.com/28855676/56150183-e9ce4d00-5f73-11e9-94cd-fd3a98a8af1c.jpg)

[2019-04-15 16:52] Kyle-Reis commented on #19
Hey @consoleboy, This scenario should be supported in our latest release (10.0.1). Version 10.0.1 also makes some new parameters available that allow you to specify AAD settings to enable SSO between the SDK and your app. Also, I noticed from your screenshot that you have Xcode 10.2 installed. Was your app built with 10.2?

[2019-04-15 22:47] consoleboy commented on #19
Thanks will give it a spin. Is 10.0.1 beta or public? Thx

[2019-04-16 20:19] consoleboy commented on #19
Thank you, I tried downloading the dmg i get the following error. My colleague got the same on his macbook pro as well..
![Screen Shot 2019-04-16 at 3 17 59 PM](https://user-images.githubusercontent.com/28855676/56241222-f083bf80-605a-11e9-8cc0-7dd93fd773e2.png)

[2019-04-16 20:59] Kyle-Reis commented on #19
Hey @consoleboy, 10.0.1 is public. How are you downloading the DMG? I just tried it and was able to mount it without any issues. The reason for my asking if your app is built with Xcode 10.2 is that the current version of our SDK/wrapper don't yet support Swift apps built with 10.2. We're working to get this supported ASAP. Is any part of your app written in Swift?

[2019-04-17 15:10] MirzaBasic opened #20 "IOS app with Siri intent extensions - Error message: A specified extension provisioning profile was not valid."
I have two extensions in my app for Siri intents and Siri IntentsUI
 Al my provision profiles are valid and my app is signed correctly

 I got this error message when trying to wrap app:
"A specified extension provisioning profile was not valid."

I'm using this command for wrapping ios app:

/Volumes/IntuneMAMPackager/Contents/MacOS/IntuneMAMPackager -i ~/Desktop/MaApp.ipa -o ~/Desktop/MyAppWrapp

[2019-04-17 15:19] MirzaBasic commented on #20
I have two extensions in my app for Siri intents and Siri IntentsUI
 Al my provision profiles are valid and my app is signed correctly

 I got this error message when trying to wrap app:
"A specified extension provisioning profile was not valid."

I'm using this command for wrapping ios app:

/Volumes/IntuneMAMPackager/Contents/MacOS/IntuneMAMPackager -i ~/Desktop/MaApp.ipa -o ~/Desktop/MyAppWrapp

[2019-04-17 15:24] Kyle-Reis commented on #20
Hey @MirzaBasic, you should remove the '@' before your cert hash. It also looks like you're missing a '~' at the beginning of the paths to you app's provisioning profile as well as the extension provisioning profiles.

[2019-04-17 19:20] consoleboy commented on #19
Thanks Kyle, My colleague and I get the same error when we try to download the dmg and mount it using OSX 10.14.4 (Mojave).

[2019-04-17 19:25] consoleboy commented on #19
Tried running disk utility on the DMG and I get a permission denied issue.
![Screen Shot 2019-04-17 at 2 24 10 PM]
![Screen Shot 2019-04-17 at 2 24 10 PM](https://user-images.githubusercontent.com/28855676/56315175-ab27c680-611c-11e9-9121-1737d520997d.png)

[2019-04-18 14:54] Kyle-Reis commented on #19
Hey @consoleboy. I'm not sure what might be happening on your system and your colleague's, but I'm running the same version of MacOS and am able to successfully mount. Did you each download the DMG directly from our GitHub repo, or did you share the file you downloaded with your colleague? I'm wondering if the download was somehow corrupted. Could you try rebooting your system (to get rid of those

[2019-04-18 20:07] msintuneappsdk opened #21 "Intune app wrapping tool for iOS support for Swift apps built with Xcode 10.2+"
The Intune app wrapping tool for iOS does not yet support Swift apps built with Xcode 10.2+. These apps use Swift libraries that are baked into the OS on iOS 12.2+.

Obj-C apps or any app built on an older version of Xcode should continue to use the framework that is currently available.

The development team is working to release a new framework for Swift apps built with Xcode 10.2+.

[2019-04-23 14:08] consoleboy commented on #19
Hi we both downloaded the DMG from the github repo.
We have trashed our browser cache and redownloaded.

1. We go to https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios
2. We click on the link to https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/blob/master/Microsoft%20Intune%20Application%20Restrictions%20Packager%20for%20iOS.dmg
3. We try to open the DMG
4. DMG cant be mo

[2019-04-24 17:30] hugo0991 opened #22 "SDK fails on an app that already has ADAL"
Hi Microsoft,

SDK fails when I try to run **loginAndEnrollAccount** and **registerAndEnrollAccount** with an App that already has the ADAL library.

Please see image attached, I'm using objective c and following the next documentation:

https://docs.microsoft.com/en-us/intune/app-sdk-ios

The problem seems to be when the SDK tries to set the delegate for the UIWebView.

I got the next errors:

en

[2019-04-25 13:34] Kyle-Reis commented on #22
Hey @hugo0991, in the future please file issues related to the Intune SDK for iOS [here](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/issues). This repo would be the right place to file issues for our iOS app wrapping tool.

May I ask which version of ADAL you are using?

[2019-04-25 13:37] hugo0991 commented on #22
Sure, thanks, the latest one Version 10.0.7

[2019-04-25 13:42] Kyle-Reis commented on #22
That sounds like the Intune SDK version. I'm looking for the ADAL version.

[2019-04-25 13:52] hugo0991 commented on #22
Sorry,  ADAL (4.0.0)

[2019-04-25 13:56] Kyle-Reis commented on #22
Ah, we're still working on support for ADAL 4. For now you'll need to use the latest release of ADAL 2 (currently [2.7.9](https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/2.7.9))

[2019-05-02 09:39] muringmachine commented on #14
Closing issue as this was solved when we added the install certificate & profile task in the pipeline.

[2019-05-02 09:39] #14 closed

[2019-05-02 09:42] muringmachine commented on #12
Hi @Kyle-Reis - If we get the "There are more extensions than specified provisioning profiles. Each extension must have a corresponding provisioning profile, or a wildcard profile must be specified." how do we fix this issue? We are facing this issue now. Thanks!

[2019-05-02 12:25] Kyle-Reis commented on #12
@muringmachine it sounds like the app you are attempting to wrap contains more extensions than the number of provisioning profiles you’ve specified. You’ll need to specify a provisioning profile for each extension.

[2019-05-03 07:50] muringmachine commented on #12
@Kyle-Reis Thanks for your response. We have 2 provisioning profiles, one for the app and another one for the extension. How do we specify in the IntuneMAMPackager these 2 profiles? Currently this is the command we used which returns the error:
`IntuneMAMPackager -i mobileApp.ipa -o mobileApp_wrapped.ipa -p mobileApp_Distribution.mobileprovision  mobileApp_Shareextension.mobileprovision -c <CERTIF

[2019-05-07 11:22] quantumarun opened #23 "Intune Wrapping changes the Bundle Version"
I am Intune Wrapping tool to wrap and upload the app to Intune Portal.
Before the wrapping Application Version is: 4.1(3.2)

After Wrapping Application Version is changed to: 4.1(180930.3.3)

It seems Bundle Version is getting changed after wrapping.
Why do Bundle Version changed after wrapping? I need the same version as the original IPA.

[2019-05-10 08:31] raionesc commented on #23
Hi @quantumarun, have you tried to append -b to your command for wrapping the app?
Details here about the parameter - https://docs.microsoft.com/en-us/intune/app-wrapper-prepare-ios#command-line-parameters

[2019-05-14 13:27] Kyle-Reis commented on #19
Hey @consoleboy were you able to get this resolved? It seems like it could be caused by some sort of administrative restriction in your organization, as we haven't had anyone else report this...

[2019-05-14 13:41] Kyle-Reis commented on #23
Hey @quantumarun by default the app wrapping tool does update the bundle version. To be clear the bundle version field is actually meant to represent a specific build of a given version of the app. The "Bundle versions string, short" field represents the actual version of the app. This is called out in [Apple's documentation](https://developer.apple.com/library/archive/documentation/General/Refere

[2019-05-14 13:43] Kyle-Reis commented on #23
Alternatively, you could also deploy the same app version/newer Intune SDK by deleting the old instance of the app in the Intune portal, and uploading it as a new app.

[2019-05-14 16:15] #20 closed

[2019-05-20 11:03] thebugcode commented on #21
Hi Development team. We are failing to wrap the app using the wrapping tool . Apple sent en email informing us the build is invalid: "We identified one or more issues with a recent delivery for your app, "Banky App". Please correct the following issues, then upload again. Invalid Swift Support - The SwiftSupport folder is missing. Rebuild your app using the current public (GM) version of Xcode and

[2019-05-20 11:07] thebugcode opened #24 "Will an app wrapped with inTune wrapping tool pass apple review?"
I'd like to distribute an inTune wrapped app not on the public AppStore but on the Private AppStore(VPP, Bussiness to Business app distribution).
I am wondering if there are any chances of such an app passing Apple review.

[2019-05-21 05:38] muringmachine commented on #12
@Kyle-Reis a gentle follow up on the inquiry above. We found no documentation on how to pass 2 provisioning profile (one for each extension) when running the Intune MAM Packager command.

[2019-05-21 20:12] Kyle-Reis commented on #12
Hey @muringmachine, you'll need to use the "-x" option to specify an array of extension provisioning profiles. In your case, it sounds like there would only be a single provisioning profile in the list. If you run the wrapper without specifying any arguments, it will output a list of all the arguments that are available to you and some examples of how to use them. Here is the example shown which i

[2019-05-30 12:43] Kyle-Reis commented on #12
Hey @muringmachine, just want to verify that you were able to successfully wrap before closing this issue. The current version of the app wrapper should now output the full error message when extension profiles are missing.

[2019-05-30 12:48] Kyle-Reis commented on #15
Hey @rodfmarin, could you explain your scenario in a little more detail? Why don’t you want to sign during wrapping? Does signing twice have any significant impact? We haven’t received any similar requests from other customers as far as I know,so  I don’t think this is something we would prioritize unless there’s a legitimate blocking issue.

[2019-05-30 12:56] Kyle-Reis commented on #16
Thanks for pointing out the issue here @iOSUserMe!

[2019-05-30 12:56] #16 closed

[2019-05-30 12:57] #23 closed

[2019-05-30 12:59] Kyle-Reis commented on #19
Hey @consoleboy, just checking in again before closing out this issue on whether you were able to get the DMG mounting problem resolved.

[2019-05-31 16:02] muringmachine commented on #12
thank you, it worked!

[2019-05-31 16:23] #12 closed

[2019-06-07 22:17] Kyle-Reis commented on #19
Closing out this issue due to inactivity. Please feel free to reopen if you’re still experiencing the mounting issue

[2019-06-07 22:17] #19 closed

[2019-06-07 22:19] Kyle-Reis commented on #17
Makes sense, we do not support bitcode-enabled apps.

[2019-06-07 22:19] #17 closed

[2019-06-11 06:23] bhumin3i opened #25 "After wrapped app is crashed"
**Describe the bug:**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'ios device'
2. Click on 'app icon'
3. See error

![Image from iOS (7)](https://user-images.githubusercontent.com/25737987/59247876-6a40bf80-8c3e-11e9-9e8d-fcdcacc9026d.png)

**Expected behavior:**
open authenticator when download from company portal, enter credenti

[2019-06-11 13:42] Kyle-Reis commented on #25
Hey @bhumin3i, it's not clear to me what the issue is here. The alert in the screenshot you shared is expected for wrapped applications. After the user taps "OK", they should be prompted to enter their credentials. Are you seeing something different, or expecting different behavior?

[2019-06-11 15:36] Kyle-Reis commented on #21
Hey @thebugcode, which version of Xcode are you building your app with?

[2019-06-11 16:20] Kyle-Reis opened #26 "SwiftSupport folder missing from wrapped application"
Hi Development team. The wrapping tool creates an invalid IPA file . Apple sent en email informing us the build is invalid: "We identified one or more issues with a recent delivery for your app, "Banky App". Please correct the following issues, then upload again. Invalid Swift Support - The SwiftSupport folder is missing. Rebuild your app using the current public (GM) version of Xcode and resubmit

[2019-06-11 16:25] Kyle-Reis commented on #21
FYI, @thebugcode, we're tracking your your issue in #26 and closing this one, as it refers to some hooks we needed to add to support Swift apps built with Xcode 10.2+

[2019-06-11 16:25] #21 closed

[2019-06-11 16:29] Kyle-Reis commented on #26
@thebugcode, could you please let me know the Xcode version, and Swift version used to build your app? I'm trying to understand the conditions that cause the SwiftSupport directory to appear as I have not been able to generate a .ipa file that contains one

[2019-06-12 04:53] bhandaribhumin commented on #25
@Kyle-Reis yes after use correct certificate and correct sha-1 key now it’s working but every time it’s prompt this popup after click okay they prompt enter credentials.
Also our admin face new issue login is going infinitely.

[2019-06-12 14:03] bhumin3i commented on #25
@Kyle-Reis i don't know but today i got new error enroll now!!!! yesterday app was working but today it's not........

[2019-06-12 15:24] Kyle-Reis commented on #25
Could you describe what the error is?

[2019-06-12 15:30] Kyle-Reis commented on #15
Hey @rodfmarin, just checking in again to understand your scenario a bit more. If this is no longer a blocking issue for you, feel free to close out the issue.

[2019-06-12 15:38] Kyle-Reis commented on #24
Hey @thebugcode, the app wrapping tool is meant for LOB apps that are distributed by an organization internally, where the customer may not have direct source code access or the technical ability to integrate our SDK. It was not developed for the purposes of submission to Apple's app store or passing any Apple review process, so this scenario is [technically unsupported](https://docs.microsoft.com

[2019-06-12 15:40] bhandaribhumin commented on #25
@Kyle-Reis without wrapping I upload into Intune it’s working but with wrapping it’s not.
Message seems like you need to enrolled your device.
Or used different credentials button show enrolled now

[2019-06-12 15:43] Kyle-Reis commented on #25
Could you share the exact error message, and maybe a screenshot?

[2019-06-12 15:45] bhandaribhumin commented on #25
Actually I try to upload wrapping ipa into company Portal and try again!!! Thanks for instant reply You r the best bro🤘🏻

[2019-06-12 18:19] rodfmarin commented on #15
Hi @Kyle-Reis
Apologies for the delayed response, and not providing sufficient details/scenarios.

As a hypothetical scenario, if I was working on a smaller team using developer certificates but wanted to publish my app to the Intune portal, I would want to sign with the distribution certificate.  Though my team may not have access to that, and it may be handled by another team at a later time.

I

[2019-06-17 13:55] Kyle-Reis commented on #26
@thebugcode, checking in again to see if you're still blocked by this.

[2019-06-17 13:56] Kyle-Reis commented on #25
Hey @bhandaribhumin, just want to verify you're unblocked before closing this issue out.

[2019-06-17 13:57] #24 closed

[2019-06-17 14:01] Kyle-Reis commented on #13
@zalaris, are you still facing this issue?

@jarbot, the Intune App Wrapping Tool for iOS can be used to wrap compiled apps that were developed with Native code as well as cross platform technologies like Cordova or Xamarin.

[2019-06-17 14:02] Kyle-Reis commented on #15
Hey @rodfmarin, resigning the app shouldn't impact its functionality.

[2019-06-17 14:02] #15 closed

[2019-06-17 14:06] Kyle-Reis commented on #9
@martinlingstuyl, @JaronLin, @EbinXav, just checking in to see if any of you are still blocked here before closing out this issue.

[2019-06-17 14:51] martinlingstuyl commented on #9
We dropped Cordova and migrated to Xamarin-with-a-webview...

[2019-06-26 13:15] georgechr opened #27 "Push notifications don't work after wrapping"
**Describe the bug:**
When built in release mode the app receives push notifications just fine. If we wrap the exact same app using the wrapping tool  then it doesn't receive them any more.

**To Reproduce**
Steps to reproduce the behavior:
1. Wrap iOS app as described in the MSDN page
2. Use the same prod distribution profile as the one used for the vanilla app

**Expected behavior:**
Push notifi

[2019-06-28 16:24] Kyle-Reis commented on #26
Closing out this issue due to inactivity. If you're still experiencing this issue and would like some help, feel free to reopen!

[2019-06-28 16:25] Kyle-Reis commented on #25
Closing out this issue.

[2019-06-28 16:25] #25 closed

[2019-06-28 16:26] Kyle-Reis commented on #13
Closing out this issue due to inactivity. Feel free to reopen if you're still experiencing issues!

[2019-06-28 16:26] #13 closed

[2019-06-28 16:27] Kyle-Reis commented on #9
Closing out this issue.

[2019-06-28 16:27] #9 closed

[2019-06-28 16:31] Kyle-Reis commented on #27
Hey @georgechr, could you try out the [latest release](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/releases/latest) (version 11.0.8)? If the issue persists, could you share the exact command line arguments you are specifying when wrapping? You don't need to share the actual signing cert hash

[2019-07-18 04:58] pedrr opened #28 "No possibility to change the user after sign in"
We want to switch the user at the app level. Is there a king of sign out feature for wrapped apps?

[2019-08-15 16:33] Kyle-Reis commented on #27
Hey @georgechr, are you still seeing the issue?

[2019-08-15 18:32] georgechr commented on #27
Hey, no, not any more. Fixed after cleaning everything and starting from scratch. I am not sure which step went wrong the first time

[2019-08-15 18:38] Kyle-Reis commented on #27
OK. Thanks for verifying!

[2019-08-15 18:38] #27 closed

[2019-08-31 10:12] Kyle-Reis commented on #28
Hey @pedrr, for wrapped applications, there are only two ways to change the enrolled identity:
1.) A manually-integrated SDK app from the same publisher enrolls with a different account.
2.) All apps from the publisher are uninstalled. Upon installation of a wrapped LOB app, the user should be prompted for credentials again.

To implement in-app account change scenarios, apps should manually integ

[2019-09-06 17:38] #28 closed

[2019-09-20 15:19] rliljest opened #29 "How to deal with multiple certificates with the same name?"
Looking at the release notes for `11.2.0`, specifying a cert hash is deprecated and the name of the cert should be used instead. We have a mix of wrapped and public apps, and have two distribution certificates with the same name (one for internally distributed applications and one for publicly distributed applications).

What steps should we use to disambiguate between the two when wrapping if the

[2019-09-20 15:23] Kyle-Reis commented on #29
Hey @rliljest, is the same provisioning profile used to sign with both certs? The tool should select the right cert based on what certs are listed in the profile.

[2019-09-20 15:29] rliljest commented on #29
You are absolutely right, thanks!

[2019-09-20 15:29] #29 closed

[2019-09-23 16:56] daordonez11 opened #30 "Ipa framework side effect in 11.2.0 version"
**Describe the bug:**
Running the wrapping command with the 11.0.3 version works but fails with version 11.2.0

**To Reproduce**
Steps to reproduce the behavior:
Execute wrapping command with 11.0.3 in our test Ipa result:
The application was successfully packaged
Execute Wrapping command with version 11.2.0 in the same Ipa, result:
The app's Frameworks directory could not be signed. This may be b

[2019-09-23 18:26] Kyle-Reis commented on #30
Hey @daordonez11, I believe I've identified the root cause of this issue.  Just to confirm, could you verify that you are specifying a SHA-1 certificate hash and getting the warning about it being deprecated? Could you also confirm that if you specify the cert name instead, it works?

[2019-10-08 13:41] Kyle-Reis commented on #30
Hey @daordonez11, just checking in again to see if specifying the certificate name worked for you?

[2019-10-09 11:45] pedrr opened #31 "Cannot launch the IntuneMAMPackager on MacOS 10.14.6"
if I download the latest one 12.0.12 I cannot launch the IntuneMAMPackager on MacOS 10.14.6 with the following error message from the OS:

####
"IntuneMAMPackager" is damaged and can't be opened. You should move it to the Trash.
####

![image](https://user-images.githubusercontent.com/10165399/66478574-0074dd00-ea9b-11e9-8659-f4b992de782b.png)

[2019-10-09 14:22] rliljest commented on #30
I have the same issue with the latest `12.0.12` version. If I specify the hash I get the deprecation warning and the above error, but if I specify the cert name instead I just get the error.

[2019-10-09 15:06] Kyle-Reis commented on #31
Hey @pedrr, you should first launch a terminal window, then drag/drop the IntuneMAMPackager file into the terminal to paste in the full path to the executable

[2019-10-09 15:07] Kyle-Reis commented on #31
https://docs.microsoft.com/intune/developer/app-wrapper-prepare-ios#run-the-app-wrapping-tool

[2019-10-09 15:59] Kyle-Reis commented on #30
Hey @daordonez11 and @rliljest, could either of you list out the file extension types that are contained within the "Frameworks" directory of your app bundle?

[2019-10-09 16:27] Kyle-Reis commented on #30
Actually, if either of you could share the complete contents of the Frameworks directory, that would be quite helpful

[2019-10-09 16:57] rliljest commented on #30
We have several IPAs that show the same issue, and one of them does not even have a `Frameworks` directory

[2019-10-09 17:28] Kyle-Reis commented on #30
Hey @rliljest, were the IPAs you are attempting to wrap built with Xcode 11?

[2019-10-09 18:17] rliljest commented on #30
Built with Xcode 11, but using the legacy build system

[2019-10-09 19:11] Kyle-Reis commented on #30
What do you mean by legacy build system? Does the machine you are wrapping with have Xcode 11 installed along with command line tools as well?

[2019-10-09 19:42] rliljest commented on #30
Yes, built using Xcode 11 using the iOS 13 SDK. The legacy build system might not be relevant.
![legacy_build_system](https://user-images.githubusercontent.com/13106809/66514573-0c649d00-eaa3-11e9-8743-a847a790d2ef.png)

[2019-10-09 20:17] Kyle-Reis commented on #30
Are you wrapping on the same machine with Xcode 11 installed?

[2019-10-09 20:36] rliljest commented on #30
Different machine, but both are using Xcode 11

[2019-10-10 10:16] pedrr commented on #31
ok, it works in this way, but what causes this change? As I remember correctly, with SDK 10.X it works with opening it from the finder

[2019-10-10 19:34] Kyle-Reis commented on #31
Why do you want to open from Finder? You will need to provide command line arguments to use the tool.

[2019-10-15 18:42] cjennewein-uhi commented on #31
I receive the same error when using the IntuneMAMPackager in Terminal with MacOS 10.15.

I mount the dmg and run the command, then immediately receive the error.
`/Volumes/IntuneMAMPackager/Contents/MacOS/IntuneMAMPackager -i app.ipa -o app_intune.ipa -p app.mobileprovision -c "cert_name" -v`
`zsh: killed     /Volumes/IntuneMAMPackager/Contents/MacOS/IntuneMAMPackager -i  -o  -p  -c  -`

[2019-10-16 13:47] rliljest commented on #30
@Kyle-Reis I found out what the issue is with this error.

We have two distribution certificates with the same name: one for enterprise distribution (which we will wrap with the intune app wrapping tool) and one for app store distribution. Our development machines have both certificates installed.

Regardless of if we provide the (deprecated) cert hash or the certificate name, the error is the sam

[2019-10-18 19:50] Kyle-Reis commented on #31
@cjennewein-uhi, I am also able to reproduce this and am investigating.

[2019-10-20 08:48] ram2386 commented on #31
@Kyle-Reis: I am getting the same error message in the IntuneMAMPackager in Terminal with MacOS 10.15.

<img width="1191" alt="Screenshot 2019-10-20 at 2 17 58 PM" src="https://user-images.githubusercontent.com/217577/67157077-794e2180-f344-11e9-854e-06694eace932.png">

Please find the above-attached screenshot for the same.

[2019-10-21 18:42] Kyle-Reis commented on #31
Hey @pedrr, @cjennewein-uhi, and @ram2386. We just pushed an update to the repo which should address this issue. Could you each confirm that it's working for you now?

[2019-10-21 19:15] cjennewein-uhi commented on #31
@Kyle-Reis, I can confirm I was able to package the app after the dmg update. Thanks!

[2019-10-22 04:14] taofang0418 commented on #31
@Kyle-Reis I still have the same problem with version 12.0.12 on MacOS 10.15

[2019-10-22 04:59] ram2386 commented on #31
@Kyle-Reis I still have the same problem on MacOS 10.15 and getting the same error message.

[2019-10-22 13:58] Kyle-Reis commented on #31
Hey @taofang0418, and @ram2386, I was able to reproduce the issue as well after downloading the source zip from the [releases page](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/releases). Could you confirm that this is how you downloaded the DMG? As a workaround, if you clone the git repo, it should work. I'll continue to investigate in the meantime

[2019-10-23 13:24] ram2386 commented on #31
Thank you @Kyle-Reis, Yes if I clone the git repo, it works. Please let me know once you resolve the issue when I download and install it via the source zip.

[2019-10-23 13:26] Kyle-Reis commented on #31
We'll have an update out soon which should address the source-download issue.

[2019-10-24 03:44] taofang0418 commented on #31
Hi @Kyle-Reis , it was not working by downloading the source zip but works with clone the git repo.

[2019-10-24 14:15] Kyle-Reis commented on #30
Hey @rliljest, just wanted to let you know we have a potential fix for this issue in review now.

[2019-10-25 19:46] Kyle-Reis commented on #31
Hey everyone. This issue should be addressed with today's update. Note: we had to move the plist argument example file out of the .DMG and into the repo root. It should be included in the DMG again with the next update.

[2019-10-25 19:46] #31 closed

[2019-11-05 10:19] ram2386 commented on #31
@Kyle-Reis: I am getting the same error message in the IntuneMAMPackager in Terminal with MacOS 10.15 while installed the latest source file.

Please find the attached screenshot for your reference.

<img width="1151" alt="Screenshot 2019-11-05 at 3 45 18 PM" src="https://user-images.githubusercontent.com/217577/68199244-ac024600-ffe3-11e9-87eb-08472a323ae3.png">

[2019-11-05 10:21] ram2386 opened #32 "Unable to launch the IntuneMAMPackager on MacOS 10.15"
@Kyle-Reis: I am getting the same error message in the IntuneMAMPackager in Terminal with MacOS 10.15 while installing the latest source file.

Please find the attached screenshot for your reference.

<img width="1151" alt="Screenshot 2019-11-05 at 3 45 18 PM" src="https://user-images.githubusercontent.com/217577/68199397-fbe10d00-ffe3-11e9-8f3d-f8a01f093b80.png">

[2019-11-05 16:59] Kyle-Reis commented on #32
Hey @ram2386 this is a different message from the one previously reported. I saw it as well after my upgrade to 10.15.

Here's what you can do to fix it:
1.) System preferences -> Security and Privacy -> General -> Allow apps downloaded from:
   - Ensure that "App store and identified developers" is selected

2.) Right click on the IntuneMAMPackager executable
3.) Select open
4.) Verify that you w

[2019-11-06 06:57] R-Anusha-Dev opened #33 "Microsoft Intune Wrapping Tool Warning for IOS"
Recently, i have observed the below warnings while performing Wrapping with Intune Wrapper tool for iOS Apps through a Mac OS Terminal.
****WARNING:****
Providing a **SHA-1 certificate** hash is **deprecated** and will not be supported in a future release. **Using a certificate name is recommended**.

****Query**:**Please provide **detail usage** for SHA1 Deprication. how to use a **certificate in

[2019-11-06 08:00] ram2386 commented on #32
Thanks, it is working.

[2019-11-06 14:56] #32 closed

[2019-11-06 16:17] Kyle-Reis commented on #33
Hey @R-Anusha-Dev, The CRLStyle/OCSPStyle warnings can be addressed by simply running the commands specified in the terminal before wrapping. This only needs to be done once and you shouldn't see these warnings again when wrapping any app on the same machine.

The certificate name warning can be addressed by simply copying the "Common Name" of the certificate in the Keychain Access app instead of

[2019-11-11 16:28] #33 closed

[2019-11-14 14:12] rliljest commented on #30
@Kyle-Reis Any estimate on when the fix would be available?

[2019-11-21 07:11] arusselkm opened #34 "Not able to wrap ios app with an extension, how to provide the array of provisioning profiles with the -x option? I tried <array><string>path_to_provisioning_profile_file</string></array> and its giving error, syntax error near unexpected token `<'"
**Describe the bug:**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior:**
A clear and concise description of what you expected to happen.

**Screenshots and logs:**
- If applicable, add screenshots to help explain your problem.
- If your app is crashing

[2019-11-25 14:04] Kyle-Reis commented on #34
Hey @arusselkm, you need to escape the '<' and '>' characters with a backslash ('\'). Alternatively, you could specify all of your arguments, including the list of extension provisioning profiles, in a plist files, and provide that plist file to the app wrapping tool using the -f option. Please see PackagerArgumentExample.plist in the root of the repository.

[2019-11-26 14:59] Kyle-Reis commented on #30
Hey @rliljest, this fix is NOT included in yesterday's update. It should be in the next update. ETA is sometime in December.

[2019-12-02 15:42] #34 closed

[2020-01-08 22:43] daordonez11 commented on #30
Hello, Kyle! Sorry I hadn't read my Github notifications, do you still require anything from my side?

[2020-01-08 22:50] Kyle-Reis commented on #30
@daordonez11 Nope! We’re working on releasing the fix. Should be out soon!

[2020-01-15 14:41] rliljest commented on #30
Saw the 12.2.0 update and verified it fixed the issue I was having. Thanks a lot @Kyle-Reis and team!

[2020-01-15 16:17] Kyle-Reis commented on #30
No problem 🙂 @daordonez11 just an FUI that this issue is foxed in the latest release (12.2.0)

[2020-01-15 16:17] #30 closed

[2020-01-23 03:40] ericschrad1987 commented on #31
Hi Everyone. I downloaded the latest release and am getting the same error as the original poster. I have tried copying the path to terminal and running the script through terminal with no success.

What can I do?

[2020-01-23 03:57] ericschrad1987 opened #35 "iOS app Wrapping tool saying it is damaged"
Hi Everyone. I downloaded the latest release of the iOS app wrapping tool and am getting the error that the disk is damaged and I must cancel or eject the disk. I have tried copying the path to terminal and running the script through terminal with no success. I also tried the clone link with no success.

I am running Mac OS High Catalina 10.15.2.

What can I do?

[2020-02-04 20:22] daordonez11 commented on #30
Hey @Kyle-Reis  today I downloaded 11.2.0 and tried to test it but in my mac it said that the tool was corrupted and I wasn't able to test it

[2020-02-05 07:40] JustCruisin commented on #35
I have the same issue. macOS Catalina 10.15.3. Workaround is bypassing securitysettings by using CTRL+click on the executable, then clicking Open (this only needs to be done once), but that's not really best practice. What gives?

[2020-02-06 15:59] gastaffo commented on #35
We have not been able to repro this issue. Could attach a screenshot/video of the error you are getting?

[2020-02-11 13:49] varunmehtaxebia commented on #12
Hello @Kyle-Reis ,

I'm still getting same error

_`"There are more extensions than specified provisioning profiles. Each extension must have a corresponding provisioning profile, or a wildcard profile must be specified."`_

**Using below:**
`declare -a extension=(Desktop/Extension1.mobileprovision Desktop/Extension2.mobileprovision Desktop/Extension3.mobileprovision);
`
/Volumes/IntuneMAMPackager

[2020-02-12 07:16] varunmehtaxebia opened #36 "There are more extensions than specified provisioning profiles. Each extension must have a corresponding provisioning profile, or a wildcard profile must be specified."
Hi All,

I'm trying to Intunes wrap my .ipa having 3 extension:
**One** Service Extension for Push Notification.
**Two** Content Extension for Custom Push Notification UI

Trying to wrap the .ipa file using below steps:
1. `declare -a extension=(Desktop/Extension1.mobileprovision Desktop/Extension2.mobileprovision Desktop/Extension3.mobileprovision);`

2.  `/Volumes/IntuneMAMPackager/Contents/MacO

[2020-02-12 13:05] charlois commented on #35
Hi, i am having the same issue. Running macOS Catalina 10.15.3. Getting message that "IntuneMAMPackager is damaged". See screenshot. This stops me from being able to distribute my app. Is there any workaround until this is fixed?

<img width="581" alt="dmg damaged" src="https://user-images.githubusercontent.com/60970700/74337458-9d74b900-4da0-11ea-8440-d6b679946ece.png">

[2020-02-12 15:21] gastaffo commented on #35
So we think this is a provisioning/signing issue on our side and we are working on a release that is signed correctly. A workaround until then is to either control-click on the executable and open anyway. Or once prompted you can go to System Preferences->Security and click open anyway on the button next to IntuneMAMPackager

[2020-02-13 06:45] varunmehtaxebia commented on #36
Its working by somehow now using .plist. So closing this issue.

[2020-02-13 06:45] #36 closed

[2020-02-17 17:57] Trhacz commented on #31
I have same problem.

[2020-02-17 20:15] GlennMillerNZ commented on #35
@gastaffo I don't get any prompts in Security and Privacy.
Whens the next release expected?

[2020-02-19 14:20] Li-Yanzhi commented on #35
+1

We cannot use the latest version (v12.2.0) update too on multiple Mac computers because of error dialog "IntuneMAMPacker is damaged“.

The previous version v12.0.18 works fine which can be download via Tag:12.0.18.

[2020-02-24 12:05] jupasources opened #37 "App Store rejects to accept wrapped binary. ERROR ITMS-90668: "Invalid Bundle Executable."
Hello,

App Store rejects to accept wrapped binary with following error:
`**ERROR ITMS-90668**: "Invalid Bundle Executable. The executable file 'Zalaris HR.app/Frameworks/ADAL.framework/ADAL' contains incomplete bitcode. To compile binaries with complete bitcode, open Xcode and choose Archive in the Product menu."`

This is Cordova based app that is built using **phonegap** service. The service is

[2020-02-24 22:28] Mason11987 commented on #35
This version worked for me, but required I mount it, run it once, it failed, then I went to Security & Privacy and allowed it.  Then it was able to wrap.

[2020-03-05 09:24] Sn4t5 opened #38 "Problems installing wrapped iOS-App"
Hello,
I am currently trying to wrap a third party app. This works without errors, but unfortunately the app can then no longer be installed on an iPhone. When I try to install this app on an iPhone I get the following error message:
`default 10: 09: 11.432845 + 0100 mobile_installation_proxy 0x16f6b3000 handle_install: Installation failed: Error Domain = MIInstallerErrorDomain Code = 13" Failed t

[2020-03-11 13:29] ryanliljestrom commented on #36
Adding a comment here in case anybody else runs into this issue since it's not clear in the documentation: If you didn't want to use a .plist file, you need to modify the `-x` flag usage. So instead of `-x "/path/to/extension1.mobileprovision /path/to/extension2.mobileprovision"` you have to do `-x "<array><string>/path/to/extension1.mobileprovision</string><string>/path/to/extension2.mobileprovis

[2020-03-11 18:59] netshade commented on #35
Confirmation here that neither 12.2.0 nor 12.0.18 works on a fresh Catalina install.

[2020-04-07 19:29] gastaffo commented on #38
Hi, sorry for the slow response. Are you still seeing this issue?

[2020-04-08 15:58] gastaffo commented on #35
Has this problem been solved by the release of 12.3.1?

[2020-04-08 16:04] netshade commented on #35
I just tested this on MacOS `10.15.4` and the executable does run after CTRL-Clicking and Opening the executable from Finder first. Not very intuitive, but at the least, you can take that as the latest release does appear to have fixed this bug (for me).

Not super optimistic anyone from MS is reading this thread, but the way the app is packaged here is not ideal. Please don't package a command li

[2020-04-08 16:10] gastaffo commented on #35
Do you have to control click the executable for 12.3.1?

[2020-04-08 16:11] netshade commented on #35
I did, yes.

[2020-04-08 16:14] gastaffo commented on #35
What prompt did you see when you didn't use control-click?

[2020-04-08 16:15] netshade commented on #35
When attempting to use the executable from the command line w/o control click, the executable was not authorized to run. When attempting to use the executable from Finder w/o control click, an executable warning presented with a message saying the executable was not verified, and could not be run.

[2020-04-08 16:18] gastaffo commented on #35
Interesting, I wasn't able to reproduce on my machine but I'll see if someone can get a repro of that action.
Your on MacOS 10.15.4 and using version 12.3.1 correct?

[2020-04-08 16:48] netshade commented on #35
Yeah, that's right

[2020-04-10 15:51] paul590 commented on #35
I was able to get it to run by cloning the project first, unfortunately, now I am see this issue:
zsh: illegal hardware instruction  sudo ./MacOS/IntuneMAMPackager -i app/src/MyApplication.ipa -o  -p  -c

this is the command I gave:
./MacOS/IntuneMAMPackager -i app/src/MyApplication.ipa -o app/dist/MyApplicationWrapped.ipa -p app/src/MyApplication.mobileprovision -c "my sha1"

[2020-04-10 16:36] gastaffo commented on #37
As of now the Intune iOS MAM SDK does not support bitcode, so a wrapped app will not be able to support bitcode. Do you have the original project for the app or just the ipa?

[2020-04-12 04:12] GlennMillerNZ commented on #35
@paul590 you don't need sudo but try adding "-v true" to your command to see what the real error is.

@gastaffo I ran this tool successfully last week on macOS 10.15.4 and v12.3.1 with no prompts. Are you running it from the mounted volume or copying it to your disk?
Was on the phone to Microsoft doing this and it seemed to run smoother using the verbose switch as above also.

[2020-04-12 06:33] jupasources commented on #37
OK. I have the original project generated by Cordova CLI tool. I tried to build with bitcode enabled and also with bitcode disabled, but still same error returned by Apple ITMS. Interesting: if I wrap with wrapping tool version 11.0.8 no errors returned by Apple ITMS.

[2020-04-13 16:09] gastaffo commented on #37
So the a difference that seems pertinent is that 11.0.8 uses ADAL 2.6.3 while 11.2.0(and later) use ADAL 4.0.+. When you tried using xcode 11.3.1 you did use the sudo xcode-select -s command to switch your default xcode installation?

[2020-04-13 19:02] paul590 commented on #35
@GlennMillerNZ  thank you for your reply. I stopped using sudo and also added the -v true command. Unfortunately, it did not give me any new information it provided me with the same error. I also switched back to bash from zsh and the error changed to:
Version of MACOSX is 10.15.4
Version of XCode installed is Xcode 11.4
Build version 11N132i

Illegal instruction: 4

Thank you again for your help!

[2020-04-14 11:00] GlennMillerNZ commented on #35
@paul590 I'm not able to replicate this one sorry.
Possibly update xcode. Looks like you're on a beta version.

[2020-04-14 13:59] paul590 commented on #35
@GlennMillerNZ Thank you for letting me know. I updated my xcode to the latest version and unfortunately, still seeing this issue. I will continue digging into this issue!

[2020-04-14 17:07] Kyle-Reis commented on #37
Hey @jupasources, we have a potential fix for this issue in code review now.

[2020-04-15 10:12] jupasources commented on #37
@gastaffo, I think I have used the command only once when I installed version 10.x.  Haven't used it after upgrade to 11.3.1

@Kyle-Reis, good news! Waiting for fix .

[2020-04-22 13:35] jupasources commented on #37
Hey @Kyle-Reis, any updates when the fix will be released?

[2020-04-23 14:58] paul590 commented on #35
@GlennMillerNZ would the wrapper be affected with the introduction of zsh in Mac OS? The reason I ask is because more developers on our team have migrated to Catalina and they are all encountering the same issue as I stated above. Please let me know. Thank you!

[2020-05-01 19:19] harikrishnagit opened #39 "Wrapped App crashing at startup"
We have a react-native app ejected and built on iOS using xcode. This app is then wrapped using Intune App Wrap tool (version 12.3.1) and deployed through Intune or Microsoft Endpoint manager.

When we start the app, it tries for network connection and crashes.

**To Reproduce**
Run the app, it displays "checking your organization's data access requirements for this app" and crashes immediately

*

[2020-05-01 21:29] Kyle-Reis commented on #37
Hey @jupasources, current ETA is May 20.

[2020-05-13 10:15] viveknegi51288 opened #40 "application(using xamarin forms) not open after wrapping ios ipa file after using intune wrapping tools"
**Describe the bug:**
Without wrapping app, ios file is working fine. But after wrapping app the ipa file , once click on the app it open and suddenly closed.

**To Reproduce**
Steps to reproduce the behavior:
1. Wrap ios build
2. Shared from appcenter to the user.
3. Click on app its closed suddenly.

**Expected behavior:**
It should open and give some error atleast.

**Screenshots and logs:**
-

[2020-05-13 19:21] ShruthiAchutha commented on #37
[12.4.1](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/releases/tag/12.4.1) release has the fix.

[2020-05-13 19:34] paul590 commented on #35
Hi @GlennMillerNZ I apologize for the multiple messages, have you or your team being able to encounter this and implement a fix? Please let me know thank you!

[2020-05-19 16:54] ostridgep opened #41 "Problem wrapping IPA exported from Archive"
Hi
I have created an Archive for AppStore Connect, then Exported it.
When I use the wrapping tool it always says “You must specify a valid IOS Provisioning profile”

The profile I Use is the one referenced in the Distribution Summary.plist
Also the SHA1 taken from the same file

Any help would be appreciated

Paul

[2020-05-19 18:41] Kyle-Reis commented on #28
Hey @pedrr, just wanted to let you know that we've added the capability for users to Sign Out/Unenroll from wrapped apps since my last comment.

Here is how:
1.) Go to iOS Settings
2.) Scroll down to your app and select it.
3.) Select "Microsoft Intune"
4.) Enable the "Sign Out On Next Launch" toggle
5.) Launch the application

[2020-05-25 11:40] Dzysta opened #42 "Missing in documentation"
Documents says that he application needs to have appropriate entitlements in order to be wrapped but there is no link or document what exactly it should be

[2020-05-25 12:54] Kyle-Reis commented on #42
Hi @Dzysta, entitlements are specific to an app’s capabilities. The app developer should know what entitlements are required for their app.

[2020-05-25 12:59] Kyle-Reis commented on #41
Hi @ostridgep, are you sure you have specified the correct path to the profile?

[2020-05-25 13:02] Kyle-Reis commented on #40
Hey @viveknegi51288, could you share crash logs?

[2020-05-25 13:05] #37 closed

[2020-05-25 13:08] Kyle-Reis commented on #38
Hey @Sn4t5, checking in again before closing out this issue. Do you still need help here?

[2020-05-25 13:28] ostridgep commented on #41
Yes if I change the profile file name to an invalid file name  file name it show a different error indicating the command line parameters are not correct

________________________________
From: Kyle Reis <notifications@github.com>
Sent: Monday, May 25, 2020 1:59:21 PM
To: msintuneappsdk/intune-app-wrapping-tool-ios <intune-app-wrapping-tool-ios@noreply.github.com>
Cc: ostridgep <paul@ostridge.com>

[2020-05-25 13:38] Dzysta commented on #42
Below you can find the error which i get when i'm trying to wrap the app

Warning: WARNING: This application supports opening one or more file types, but **does not have the appropriate entitlements to be supported with Intune APP.** An additional provisioning profile needs to be specified using the -x command line argument. This profile must have a wildcard application-identifier or must have an

[2020-05-26 15:17] Kyle-Reis commented on #42
Hey @Dzysta, this is the one exception. If the wrapping tool detects that the app supports opening files sent from other apps, It attempts to inject an additional extension into to the app which can handle incoming managed data. This new extension must be signed, using the entitlements specified in the warning.

Note: We recently found an issue with this extension which may prevent the app for ins

[2020-05-26 15:31] Kyle-Reis commented on #41
Hey @ostridgep, this would indicate a problem with either parsing the profile, or computing the new bundle ID. Could you share the output of the tool with the verbose flag "-v" specified?

[2020-05-26 15:32] Kyle-Reis commented on #39
Hey @harikrishnagit, could you share crash logs?

[2020-05-26 16:00] ostridgep commented on #41
Thanks Kyle
This is the output

Application packaging in progress...
Version of MACOSX is 10.15.4
Version of XCode installed is Xcode 11.5
Build version 11E608c

You must specify a valid iOS provisioning profile.
Cause of the error to be provided for investigation:Error Domain=IntuneAppPackager Code=22 "You must specify a valid iOS provisioning profile." UserInfo={NSLocalizedDescription=You must s

[2020-05-27 14:13] ostridgep commented on #41
I have been reading some more
I see the Microsoft document says that you need a developer account with the Apple Developer Enterprise Program.

I only have a Standard Developer Account as I am creating a Private Custom App for distribution through the Apple Business Manager.

[2020-06-26 21:32] Kyle-Reis commented on #40
Hey @viveknegi51288, checking in to see if you're still seeing this issue.

[2020-06-26 21:33] Kyle-Reis commented on #39
Hey @harikrishnagit, are you still experiencing this issue?

[2020-06-26 21:34] Kyle-Reis commented on #38
Closing out this issue due to inactivity. Please reopen if you're still having issues here!

[2020-06-26 21:34] #38 closed

[2020-06-26 21:35] Kyle-Reis commented on #42
@Dzysta, the issue I referenced above should be addressed with our [latest release](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/releases/latest) (12.6.1)

[2020-06-29 18:30] harikrishnagit commented on #39
No, we are not

    On Friday, June 26, 2020, 5:33:36 PM EDT, Kyle Reis <notifications@github.com> wrote:

Hey @harikrishnagit, are you still experiencing this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-29 18:33] Kyle-Reis commented on #39
Great! Please feel free to reach out if you have any other issues.

[2020-06-29 18:33] #39 closed

[2020-07-06 18:50] brj-hsy opened #43 "Wrapping an app with extensions successfully completes about 5% of the time"
I am wrapping 7 enterprise iOS applications. The 4 apps without app extensions wrap successfully. The 3 apps with app extensions do wrap successfully only about 5% of the time when I run the tool with the same command repeatedly.

If I run the identical wrapping command about 20 times for an app with extensions, I get about 1 successful wrap.

The other 95% of results are split relatively evenly b

[2020-07-13 13:38] mariot commented on #39
How did you solve this? I have the same problem.
Thanks!

[2020-07-13 14:51] harikrishnagit commented on #39
We used a new certificate manager to issue managed certs to the devices. Configured vpn to use these certs. That fixed the issue.

[2020-07-13 14:54] mariot commented on #39
Cool. Thanks a lot

[2020-07-16 07:52] mariot commented on #39
What is the certificate that was missing? MDM Managed Associated Domains?
So the certificate was added to Intune or added to the user's phone?
Thanks!

[2020-07-16 11:58] harikrishnagit commented on #39
It was the trusted root certificate. We added SCEP and used it to generate certs

Hari.
.

[2020-08-07 17:20] dfct opened #44 "ERROR ITMS-90087: “Unsupported Architectures. The executable for MyApp.app/Frameworks/IntuneMAMSwift.framework contains unsupported architectures ‘[arm64e]‘.”"
When I submit my app to the App Store, I encounter this error ^ referencing the Intune wrapper framework. As it were, my app is currently only capable of `arm64` and not `arm64e` but it appears the Intune framework also includes arm64e support. Is it expected that the Intune wrapping process will include architectures that aren't supported by the app being wrapped? Or, can I specify architectures

[2020-08-07 17:48] Kyle-Reis commented on #44
Hi @dfct, are you using some tool other than Xcode to submit to the app store? According to [this doc](https://developer.apple.com/documentation/security/preparing_your_app_to_work_with_pointer_authentication?language=objc), Xcode should automatically strip out arm64e slices during store submission.

[2020-08-07 17:51] dfct commented on #44
I was indeed, was using Transporter. Thank you for that link! I'll see if I can try via Xcode or xcrun.

[2020-08-07 19:15] dfct commented on #44
Unless I'm mistaken, Xcode only allows you to upload builds to the App Store that Xcode itself generated. This precludes our Intune wrapping tool scenario, no? I did give `xcrun` a go, but it fails validation in much the same way as the Transporter app complained:
[code]

[2020-08-07 19:56] Kyle-Reis commented on #44
I'll look at removing arm64e slices in a future release. In the meantime, could you try the following workaround:

1.) Copy the IntuneMAMPackager directory from the mounted volume to your local drive

2.) Run the following command in the terminal, replacing [Path_To_IntuneMAMPackager_Dir]:
lipo [Path_To_IntuneMAMPackager_Dir]/Contents/Resources/IntuneMAMSwift.framework/IntuneMAMSwift -remove arm64

[2020-08-10 21:45] Kyle-Reis commented on #43
Hey @brj-hsy, thanks for reporting this issue. We are investigating it and I'll let you know when there is an update. In our upcoming release we did make a fix for a potential crash that could occur when we query the keychain for the cert, as well as adding some more verbose logging, so I'd be interested to know if things improve with the next release and if you could share the verbose logs if you

[2020-08-11 11:04] dfct commented on #44
Update from my end -- can confirm that this worked. Used lipo to remove the arm64e slices prior to app wrapping and the resulting wrapped build was able to be delivered to Apple. Thank you @Kyle-Reis !

[2020-08-11 11:51] Kyle-Reis commented on #44
Great to hear! The fix for this issue should go out in our next release.

[2020-08-11 12:03] dfct commented on #44
Fantastic, good deal. Cheers Kyle-Reis!

[2020-08-14 22:43] Kyle-Reis commented on #44
Hi @dfct, this issue should be addressed with the [latest release](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/releases/latest).

[2020-08-14 22:51] Kyle-Reis commented on #43
Hi @brj-hsy, we believe we've found the root cause of this issue and have a fix in code review now.

[2020-08-14 22:52] #44 closed

[2020-08-14 22:52] #42 closed

[2020-08-14 22:53] Kyle-Reis commented on #40
Closing out this issue due to inactivity. Please reopen if you are still experiencing issues!

[2020-08-14 22:53] #40 closed

[2020-08-17 14:39] brj-hsy commented on #43
@Kyle-Reis, thank you for the update. Here is the verbose log showing the error in wrapping tool 12.7.0.

[code]

[2020-09-01 19:56] Kyle-Reis commented on #43
Hi @brj-hsy, just wanted to let you know that the fix for this issue has been checked in, but it is not included in today's release ([12.8.0](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/releases/12.8.0)). It will become available in an upcoming release.

[2020-09-02 18:43] PushpitaPawar opened #45 "Wrapped IOS app using custom AAD client not working"
We have a in-house IOS app that uses a custom Azure AD client app to authenticate. The AAD client app is configured for MSAL. It has Graph and MAM api delegates. The app on its own can successfully connect and authenticate using the AAD client app.

Next we wrap the app using the Intune App wrapping tool for iOS (version 12.7.0) and specify the AAD client id and related parameters using -aa, -ac a

[2020-09-11 15:07] Kyle-Reis commented on #45
Hi @PushpitaPawar - question: When you open the "Frameworks" directory inside of the app bundle, do you see both ADAL.framework and MSAL.framework?

[2020-09-11 15:51] PushpitaPawar commented on #45
Hi Kyle,

Yes, I do see both the frameworks. There are 3 in total: ADAL.framework, MSAL.framework and IntuneMAM.framework. Guess the presence of ADAL.framework is causing the conflict. How do I get rid of it? The pre-wrapped IPA has only MSAL.framework. The other 2 are added my the IntuneWrapper sdk.

Thanks,
Pushpita

[2020-09-11 16:52] Kyle-Reis commented on #45
@PushpitaPawar, we will need to make a fix on our end to check for existence of MSAL and not inject the ADAL framework in this scenario. In the meantime, one thing you could try is to remove the ADAL framework from the bundle and resign using the codesign command.

[2020-09-11 19:43] PushpitaPawar commented on #45
@Kyle-Reis , thanks. I will try to resign after removing ADAL framework. Will keep you posted. Do you have a timeline for the fix in the sdk?

Thanks,
Pushpita

[2020-09-15 17:45] Kyle-Reis commented on #43
Hey @brj-hsy, this issue should be fixed in the [latest release](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/releases/latest)(version 12.9.0).

[2020-09-15 17:45] #43 closed

[2020-09-15 20:44] brj-hsy commented on #43
@Kyle-Reis I tested and the issue is fixed in 12.9.0. Thank you!

[2020-09-15 21:47] Mason11987 opened #46 "InTune wrapped apps aren't supporting opening with url"
I have an InTune wrapped app that is set up to open PDFs:

	<dict>
		<key>CFBundleTypeName</key>
		<string>PDF</string>
		<key>LSHandlerRank</key>
		<string>Alternate</string>
		<key>LSItemContentTypes</key>
		<array>
			<string>com.adobe.pdf</string>
		</array>
	</dict>

It works perfectly:

1. If I run it on the simulator.  Whether the open-in loads the app cold, or just activates it.
2. If I ru

[2020-09-22 14:16] PushpitaPawar commented on #45
@Kyle-Reis , the re-signing after removing the ADAL framework did not work. Do you have a new version with the fix for MSAL? We need the fix urgently. This is a production app affecting a couple of thousand users and the delay is getting difficult to manage. Please prioritize this fix.

Thanks,
Pushpita

[2020-09-22 15:03] Kyle-Reis commented on #45
Hey @PushpitaPawar, may I ask why you are trying to wrap this app instead of integrating the SDK and calling registerAndEnrollAccount to silently enroll in MAM after the app has authenticated?

[2020-09-22 15:22] PushpitaPawar commented on #45
@Kyle-Reis, this is how we were told to wrap apps so that the apps are managed by Intune a few years back by Microsoft Support. In fact, I had worked with Aasawari Navathe at that time. Are you saying we should not use the app wrapping tool anymore? This is a cordova/Ionic app. I do not see SDK for cordova.

[2020-09-22 16:04] Kyle-Reis commented on #45
@PushpitaPawar, that makes sense. I was under the impression that this was a native Objective-C/Swift app. How does the app integrate MSAL? Did you develop a Cordova plugin for the native MSAL SDK?

[2020-09-22 17:39] PushpitaPawar commented on #45
@Kyle-Reis,  app uses cordova-plugin-msal and connects to client app in our AAD tenant.

[2020-09-23 16:45] Kyle-Reis commented on #45
Hi @PushpitaPawar, which version of MSAL is your app linking to?

[2020-09-23 17:29] PushpitaPawar commented on #45
@Kyle-Reis,  App is using cordova-plugin-msal, version 2.5.0;  @azure/msal-angular, version 1.0.0  and msal 1.3.3

[2020-09-23 18:27] Kyle-Reis commented on #45
@PushpitaPawar, does your app have [these schemes](https://docs.microsoft.com/azure/active-directory/develop/scenario-mobile-app-configuration#step-3-add-lsapplicationqueriesschemes) listed under LSApplicationQueriesSchemes in its Info.plist?

[2020-09-23 19:16] PushpitaPawar commented on #45
@Kyle-Reis, Yes both schemes are present under LSApplicationQueriesSchemes in its Info.plist

[2020-09-30 20:40] PushpitaPawar commented on #45
Hey @Kyle-Reis, how is the MSAL integration coming along? If you have a test version ready, I can help test it.
Thanks, Pushpita

[2020-11-11 08:53] jacobwarduk commented on #26
Can we get this issue re-opened? Our team is currently blocked by this.

[2020-11-12 18:18] Kyle-Reis commented on #26
Hey @jacobwarduk, which version of Xcode was used to compile the app?

[2020-12-02 20:04] leohenriq commented on #26
did you or @msintuneappsdk have any updates for a solution of this issue? because the link ([#21](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/issues/21)) has already been a year....

[2020-12-03 18:03] Kyle-Reis commented on #26
Hi @leohenriq, which version of Xcode was the app compiled with?

[2020-12-03 19:37] leohenriq commented on #26
@Kyle-Reis Xcode version:11.3...
I understand that in the link from microsoft this is saying that it works until version 10.2, but a year ago this post from them and that's exactly what I want to know if there was no update to accept versions higher than 10.2

[2020-12-03 21:55] Kyle-Reis commented on #26
Hi @leohenriq, Xcode versions higher than 10.2 are now supported. In fact the minimum required Xcode version is now Xcode 11. Are you seeing the same problem mentioned in this issue with SwiftSupport folder? If so, what is the minimum supported iOS version of your application?

[2020-12-04 16:21] leohenriq commented on #26
Hello @Kyle-Reis, the minimum supported iOS version is 9

[2020-12-04 16:25] Kyle-Reis commented on #26
Hi @leohenriq, with version 14.0.0 of the app wrapper, the minimum supported iOS version is iOS 13. Does Xcode still produce this SwiftSupport directory when the app is compiled for a target OS of iOS 13?

[2020-12-04 17:43] leohenriq commented on #26
Hello @Kyle-Reis, yes, this folder is there when it passes through Xcode, it disappears when it passes through the wrapping tool

[2020-12-07 12:06] leohenriq commented on #26
Hi @Kyle-Reis , have any ideias for my problem?

[2020-12-07 15:18] Kyle-Reis commented on #26
Hi @leohenriq, before building with Xcode, did you change the deployment target to iOS 13.0 under "Deployment Info" target settings?

![image](https://user-images.githubusercontent.com/7443106/101368108-c22ca680-3874-11eb-9b5a-12d9d59a3958.png)

[2020-12-07 20:37] Kyle-Reis commented on #46
Hi @Mason11987, we have a potential fix for this issue in code review now. Will update you once it's available.

[2020-12-11 11:11] jacobwarduk opened #47 "Wrapped iOS app refreshes AAD when switching back from Company Portal authentication"
We have developed a Cordova-based app which we have subsequently wrapped using the app wrapping tool for iOS.

On opening the app, we are presented with the expected AAD authentication and follow these steps:

1. Enter email address and submit
1. Enter password and submit
1. Prompted for PIN
1. Switch to different app to get PIN
1. Come back to wrapped app

Actual:
1. Page refreshes and prompted t

[2020-12-11 15:34] Kyle-Reis commented on #47
Hi @jacobwarduk, is the PIN referenced in the reproduction steps something that is sent to the user' via email or text for multi-factor auth with AAD?

[2020-12-11 16:59] jacobwarduk commented on #47
It is from authentication app for MFA with AAD.

[2020-12-11 17:31] Kyle-Reis commented on #47
@jacobwarduk, thanks. This sounds like an issue with the version of ADAL used by the app wrapping tool. I'll investigate if upgrading to the latest release will address it.

[2020-12-11 18:16] leohenriq commented on #26
Hello @Kyle-Reis, Yes, i did... but the same thing happens.

[2020-12-14 09:12] jacobwarduk commented on #26
We are using Xcode 12.2

[2020-12-14 09:13] jacobwarduk commented on #26
For anybody else landing here with the same issue, we are using this workaround to add the Swift Support folder into the IPA successfully: https://stackoverflow.com/a/62457388

[2020-12-18 06:45] paulpopiel opened #48 "Issues with Intune SSO post-wrapping with tool"
We have an iOS application that has been setup with MSAL. Our MSAL login + Azure AD configuration works standalone with no problems.

However once we apply the iOS Intune wrapping tool as per:
https://docs.microsoft.com/en-us/mem/intune/developer/app-wrapper-prepare-ios

We run into the following issues.

1) If we apply the wrapping using the standard command using the default ADAL settings (i.e.

[2020-12-18 08:28] jacobwarduk commented on #47
@Kyle-Reis was there any update on the above?

[2020-12-18 16:41] Kyle-Reis commented on #48
Hi @paulpopiel, it sounds like you have source code access for this app? is there a technical reason for the decision to wrap the app instead of integrating the Intune SDK?

[2020-12-19 06:31] paulpopiel commented on #48
Hi @Kyle-Reis
We are using Flutter and there is no Intune SDK pub package for it as far as we are aware.

[2020-12-19 13:17] Kyle-Reis commented on #48
Hi @paulpopiel, could you try removing the quotes around the values specified for custom AAD settings in command line? Depending on how the quotes were entered, they may be getting treated as part of the setting value and leading to issues

[2020-12-20 05:07] paulpopiel commented on #48
I have lodged a service request with our deployment team to try this and will report back later. Fingers crossed its that simple.

[2020-12-21 04:14] paulpopiel commented on #48
Hi @Kyle-Reis
We tried a few different things and ultimately the following setup got past the MSALErrorDomain error:

[code]

However we are now presented with the following error:

![image002](https://user-images.githubusercontent.com/8855763/102738622-a43b6780-4385-11eb-8050-349941762a62.png)

We understand this is a standard Intune error:

![Screen Shot 2020-12-21 at 11 53 58 am](https://user-i

[2020-12-21 15:13] Kyle-Reis commented on #48
Hi @paulpopiel, this error is shown when the user is not targeted with app protection policies for the app. Does the UAT version of the app have a different bundle ID from the production version? Apps are targeted for policy based on bundle ID, so your team may need add the UAT bundle ID to the list of targeted apps in addition to the production version.

[2020-12-21 19:24] Kyle-Reis commented on #47
Hey @jacobwarduk, which version of the app wrapper was the app wrapped with? I just set up MFA on my test account and after being prompted to enter authentication code and switching to a different app, then coming back, the prompt for the authentication code is still there.

[2020-12-22 04:18] paulpopiel commented on #48
Hi @Kyle-Reis , we have confirmed that both the user and the policy exist.
However one thing I did notice is that the add is created through the following process:
https://docs.microsoft.com/en-us/mem/intune/apps/lob-apps-ios
Noting that the bundle id is never manually specified (although it does show up correctly as per the uploaded IPA subsequently in the apps list in Intune).
When editing the p

[2020-12-22 06:40] kiranprakash912 opened #49 "Error Domain=IntuneAppPackager Code=1 "/usr/bin/defaults exited with an error"
I am trying to wrap my ipa and getting this following error
Warning: Unable to verify system settings for certificate revocation checks. If you would like to enforce certificate revocation checks, run the following commands - 'defaults write com.apple.security.revocation CRLStyle BestAttempt' and 'defaults write com.apple.security.revocation OCSPStyle BestAttempt'

Execution of defaults failed wit

[2020-12-22 07:29] kiranprakash912 commented on #30
Hi Need urgent help! I am seeing the same error though i am running the latest version to wrap the LOB app

Warning: Unable to verify system settings for certificate revocation checks. If you would like to enforce certificate revocation checks, run the following commands - 'defaults write com.apple.security.revocation CRLStyle BestAttempt' and 'defaults write com.apple.security.revocation OCSPStyl

[2020-12-22 09:43] jacobwarduk commented on #47
We are using version 13.0.0

I will upgrade to 14.0.0 and see if this helps.

[2020-12-22 16:59] Kyle-Reis commented on #49
Hi @kiranprakash912, when wrapping the application, are you providing the certificate SHA-1 certificate hash or the certificate name?

To address the warning about certificate revocation checks, you should run the commands specified in the warning message:
defaults write com.apple.security.revocation CRLStyle BestAttempt
defaults write com.apple.security.revocation OCSPStyle BestAttempt

[2020-12-22 17:08] Kyle-Reis commented on #48
Hey @paulpopiel, when IPAs are uploaded for distribution via Company Portal, the app name will appear in app protection policy targeting UI as you've mentioned. Under the hood though, all targeting is based on bundle ID. Endpoint Manager is able to get the bundle ID for the app from the Info.plist inside of the uploaded .ipa file.

Does the UAT version of this app use the same bundle ID as the pro

[2020-12-24 02:21] paulpopiel commented on #48
Hi @Kyle-Reis, yes the UAT version has a different bundle id, however both it and the production version have both been added as separate apps in Intune. Likewise each has its own policy created, each targeting the respective version (i.e. a production policy as well as a uat policy).

[2020-12-28 16:54] Kyle-Reis commented on #48
Hi @paulpopiel, is the UAT policy also targeted to a user group which contains the account you are using to test the app?

[2020-12-29 16:57] paulpopiel commented on #48
Hi @Kyle-Reis
Yes we have also checked this and confirmed that this is setup correctly.
P.s. thank you for your time and patience in trying to help us identify the issue.

[2020-12-29 17:02] Kyle-Reis commented on #48
@paulpopiel, No problem! :) could you check if the following settings on the app protection policy are configured differently? If so could you share what they are set to?

![image](https://user-images.githubusercontent.com/7443106/103300780-b80e4b80-49cd-11eb-8245-a29643ef2414.png)

[2020-12-29 17:11] paulpopiel commented on #48
<img width="612" alt="Screen Shot 2020-12-30 at 1 09 07 am" src="https://user-images.githubusercontent.com/8855763/103301235-e32f8400-4a3b-11eb-87da-118c1055161e.png">

[2020-12-29 17:49] paulpopiel commented on #48
@Kyle-Reis - side question related to the original error we are facing in production, i.e. the following error where the IPA was wrapped with default parameters (without the use of -aa, -ac, -ar)

![file](https://user-images.githubusercontent.com/8855763/103303417-e2e5b780-4a40-11eb-814a-e886e9ca4b73.jpeg)

We have more details from the AAD monitoring sign in logs related to this error:

![Screen

[2020-12-29 18:03] paulpopiel commented on #48
Just found the following: https://docs.microsoft.com/en-us/troubleshoot/mem/intune/error-query-intune-data-warehouse
Could this be related/similar in any way? (Not sure if there is any link between Intune Data Warehouse and the built-in "Intune Applications" app referenced above)

[2020-12-29 18:16] paulpopiel commented on #48
@Kyle-Reis
Apologies for the spam, but also found this:
https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/905

Which seems to be the exact same error we faced.

I have inspected the Info.plist file in the wrapped IPA and it seems to be encrypted/scrambled so its hard to see if the `IntuneMAMSettings` dictionary is being set and if so if those entries are being set correct

[2020-12-29 19:02] paulpopiel commented on #48
@Kyle-Reis
One last thing:
https://docs.microsoft.com/en-gb/mem/intune/developer/app-sdk-get-started#give-your-app-access-to-the-intune-app-protection-service-optional

I'm not sure if we have done the above (would need to check with our AAD team), but could this potentially cause the "App Not Set Up: This app has not been set up for you to use. Contact your IT administrator for help" error if it

[2020-12-29 19:59] Kyle-Reis commented on #48
Hi @paulpopiel, the latest version of the app wrapper does not inject ADAL when the app already links to MSAL. With MSAL, using custom client ID and redirect URI for Intune enrollment is required due to strict redirect URI format enforced by MSAL which is based on individual app's bundle ID.

If you the above steps have not been followed to give the app access to the Intune MAM service, that is li

[2020-12-30 02:18] paulpopiel commented on #48
Hi @Kyle-Reis

Thank you very much for that clarification. That confirm the use of the -aa, -ac, -ar parameters is required and we will continue down that path.

Fingers crossed. I will raise a Service Request with our AAD team to check and add (if missing) the above access and report back.

[2020-12-30 03:37] paulpopiel commented on #48
We have confirmed the Intune MAM service permissions are NOT present in the AAD app registration.

Have raised a service request to have this addressed and will report whether this solves the 'Account not setup' error post-wrapping.

Thanks again.

[2020-12-30 03:44] paulpopiel commented on #48
Oh one more thing @Kyle-Reis
when you say:

Out of curiosity - does that mean it used to inject ADAL, and if so when was this change released?

[2020-12-31 06:13] paulpopiel commented on #48
Hi @Kyle-Reis
We are still facing the "Account Not Setup" error on app open, even with the Intune MAM service API permission setup in AAD.

Interestingly I setup a new device with Intune Company Portal and when I ran the app for the first time it failed on app open with an "Unexpected Failure. Contact your IT administrator for help" error.
I then opened an install and ran an existing company app (

[2020-12-31 10:08] paulpopiel commented on #48
Further context - existing apps have been setup using **ADAL**, with Intune SDK either integrated or wrapped with **default intune values** for ClientID and redirectURI (i.e. IntuneMAMSetting entries omitted)

[2020-12-31 10:57] paulpopiel commented on #48
Another FYI - we are using the following Flutter dependancy for our in-app MSAL:
https://github.com/gbwisx/msal_mobile

Looks like that uses MSAL v1.0.5 under the hood for iOS.

[2021-01-04 10:12] paulpopiel commented on #48
@Kyle-Reis - So we applied the Intune MAM API permission to AAD. There was no impact initially, although it seems that it took a few hours (24+ roughly) for those permissions to propagate through.
Interestingly though, it doesnt seem to be working for all our users.

Specifically the policy for the UAT version of the app has two groups assigned:
- Our application team UAT group
- The India based s

[2021-01-04 16:30] Kyle-Reis commented on #48
Hi @paulpopiel, it sounds like this may be a matter of the added API permission not fully propagating to all servers. Is the team in India still seeing the issue?

[2021-01-05 05:57] paulpopiel commented on #48
Hi @Kyle-Reis , they are still facing the same error this morning. Is it common for AAD API permissions to take this long (days) to propagate? and for there to be such a differentiation between regions?

[2021-01-05 14:45] Kyle-Reis commented on #48
@paulpopiel, it shouldn't take that long. Do the accounts that the India team is testing with have an Intune license assigned to them? If not, MAM enrollment would fail, which would also produce this error.

[2021-01-05 16:19] paulpopiel commented on #48
@Kyle-Reis I will check on this tomorrow with the Intune team. However, these users have had no issues with the pre-existing ADAL based apps that have been deployed. Unless there is some key difference in relation to this with ADAL vs MSAL? (excuse my ignorance on this subject)

[2021-01-06 16:10] paulpopiel commented on #48
@Kyle-Reis All users by default have the Office 365 E3 license assigned to them with Intune enabled, so thats not the cause of the India team members still getting the 'Account Not Set Up' error.

[2021-01-08 06:20] paulpopiel commented on #48
@Kyle-Reis - we decided to roll the dice and went ahead with a production deployment with the current setup, hoping it was an isolated case with the 'Account Not Set Up' issue just with our India team members.

We have had reports of users who previously had the original 'reply URL' error having solved that problem, but we are unfortunately starting to get a small handful of reports from users als

[2021-01-08 08:47] paulpopiel commented on #48
@Kyle-Reis - another (separate although potentially related) issue:
On a fresh device (out of the box setup, with only Company Portal and Authenticator installed. i.e no existing application enrolments or tokens.

When we run the app we get:
![Image from iOS](https://user-images.githubusercontent.com/8855763/103993661-eca1b480-51d0-11eb-915c-e83319cb5c20.png)

Has this got anything to do with:

Au

[2021-01-08 08:55] paulpopiel commented on #48
@Kyle-Reis - apologies, spamming again.

Following on from the fresh device scenario:

Interestingly when we then install and login to a different company app, and then come back to ours - we no longer get the above 'unexpected failure', but now get the 'Account Not Set Up' error.

So not sure how the majority of our user base is actually not getting this error in production. Is there some sort of

[2021-01-08 15:22] Kyle-Reis commented on #48
Hi @paulpopiel, could you follow [these instructions](https://docs.microsoft.com/mem/intune/developer/app-wrapper-prepare-ios#collecting-logs-for-your-wrapped-applications-from-the-device) to collect Intune logs for the app and send them to me along with a copy of the wrapped app's Info.plist at KyleReis@microsoft.com? It sounds like there may be a problem with the AAD settings configured which is

[2021-01-09 07:04] paulpopiel commented on #48
Hi @Kyle-Reis  - email sent with the requested files. Thank you very much for the assistance.

[2021-01-12 15:28] Kyle-Reis commented on #48
Closing out this issue as root cause was determined (missing "https://" in the authority URI).

[2021-01-12 15:28] #48 closed

[2021-01-12 15:29] Kyle-Reis commented on #49
Hi @kiranprakash912, checking in to see if you're still having this issue.

[2021-01-12 15:30] Kyle-Reis commented on #47
Hey @jacobwarduk, checking in to see if you're still having this issue.

[2021-01-26 00:24] Kyle-Reis commented on #47
Closing out this issue due to inactivity. Please reopen if you're still experiencing this issue.

[2021-01-26 00:24] #47 closed

[2021-01-26 00:24] Kyle-Reis commented on #49
Closing out this issue due to inactivity. If you're still experiencing this issue, please reopen.

[2021-01-26 00:24] #49 closed

[2021-01-26 00:26] Kyle-Reis commented on #46
Hey @Mason11987, could you try out our [latest release](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/releases/latest) (version 14.1.0)?

[2021-01-26 13:39] Mason11987 commented on #46
Will do, will report back on here when we're able to  validate if that fixed it.

[2021-01-29 08:40] akhilesh6024 opened #50 "Unable to Install "app name", This app cannot be installed because its integrity could not be verified"
Hi Team,

We are trying to wrap the IPA file using the latest version of IntunePackageManager, but facing issue in installing on the devices.
IOS version : 14.4

Error I am getting is - Unable to Install "app name", This app cannot be installed because its integrity could not be verified.

Thanks

[2021-01-29 15:37] Kyle-Reis commented on #50
Hi @akhilesh6024, were any changes made or any files added/removed from the app bundle after wrapping?

[2021-01-30 09:59] akhilesh6024 commented on #50
No, we didn’t made any change after warping. Just upload the package to intune and published it.

[2021-02-03 13:51] UgniusD opened #51 "In-house application wrapped with citrix flag doesn't connect"
**Describe the bug:**
Hello,

We have few applications that needs connection to internal resources and configured Citrix ADC that works with edge micro vpn.
If we wrap any in-house application with citrix flag it gets stuck on white screen before login and if we press cancel it says failed to login to gateway if pressed cancel again on that screen it says "to protect its data your organization nee

[2021-02-03 16:26] Kyle-Reis commented on #51
Hi @UgniusD, is 20.10.5.6 the latest version of the Citrix MDX toolkit? If not, have you tried the latest release? If that doesn't help, I think you may need to file a support case with Citrix, given that the apps work when MDX is not in the picture.

[2021-02-04 10:17] UgniusD commented on #51
Hi, Yes it's the latest one. The problem is that if we wrap application with their toolkit for citrix enviroment it works. But in this scenario all policys are for intune only (IIntune MDM+MAM+Citrix SDK scenario) and app gets stuck on MS login page after which application should get policy from intune so it seems that enclosure of application happens to early and it doesn't send anything to gatew

[2021-02-04 14:55] Kyle-Reis commented on #51
Hi @UgniusD, yes the mVPN settings should be delivered to the app via Intune app config policy in the dual-wrapping scenario, meaning that MDX should not be interfering with Intune enrollment to get that policy. Have you reviewed [this documentation](https://docs.citrix.com/en-us/citrix-endpoint-management/integration-with-mem.html) on Integration between Citrix Endpoint Management and Microsoft E

[2021-02-04 14:59] Kyle-Reis commented on #50
Hi @akhilesh6024, it sounds like this is some kind of issue with signing. Was the app signed using a development provisioning profile?  If so it can only be installed on specific devices listed in the profile.

[2021-02-04 17:43] UgniusD commented on #51
Dual-wrapping? Tools doesn't allow dual wrap ipa/apk files in mdx toolkit and in MS toolkit.. I'm not talking about mdx wrapping scenario for citrix where intune mam is imposible. We don't want to use citrix endpoint management at all.
If you would look at Edge mvpn setup where citrix is involved only with netscaler ADC and nothing comes from their endpoint management and we configure only gateway

[2021-02-04 21:25] Kyle-Reis commented on #51
Hi @UgniusD, when the "-citrix" flag is specified for the Intune wrapping tool, it invokes the MDX wrapping tool after Intune wrapping has completed. That is what I meant by "dual-wrapping". Sorry if that caused any confusion. The app is wrapped with the network-only variant of the XenMobile SDK (mVPN only). We don't have a sample wrapped application available, but wrapping with the -citirix flag

[2021-02-04 21:33] Kyle-Reis commented on #51
Hi @UgniusD, do the apps being wrapped with Intune already contain the XenMobile SDK beforehand?

[2021-02-05 11:14] UgniusD commented on #51
Hello, No SDK is not included beforehand and if app is wrapped that way it crashes instantly.
I have tried to wrap it without citrix flag and after that do a manual wrap with mdx toolkit as well and the behavior remains the same.
You mention XenMobile just note that it's not involved in any way with this setup. And yes integration is done following this guide: https://docs.citrix.com/en-us/citrix-

[2021-02-09 18:04] bsmith05 opened #52 "iOS resign and rewrap issue"
Our Apple Developer Distribution certificate is expiring soon.  We resigned the app with a DIFFERENT Apple Developer account distribution certificate. The app requires wrapping to function properly.

We rewrapped the app with the wrap tool v14.1.3 which completed, however when the app is launched for the first time the app takes you to the Microsoft Login and then crashes. The app crash log shows

[2021-02-09 23:01] Kyle-Reis commented on #52
Hi @bsmith05, are you able to share the crash log? The issue with 8.0.14 is likely caused by cert updates mentioned [here]( https://techcommunity.microsoft.com/t5/intune-customer-success/intune-certificate-updates-action-may-be-required-for-continued/ba-p/1839655) so updating to the latest version of the wrapper will be required. Do you know which version of Xcode the app was compiled with and wha

[2021-02-10 15:20] bsmith05 commented on #52
[appname  2-8-21, 8-40 PM.txt](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/files/5959053/appname.2-8-21.8-40.PM.txt)

I have uploaded the sanitized crash log.  I believe the app was compiled in xcode 9 for iOS 9 (based on minimum os version).  The details here are fuzzy as the app was developed by someone else that is no longer with the ocmpany.

[2021-02-10 15:37] Kyle-Reis commented on #52
Hi @bsmith05, are you able to compile the app with the latest version of Xcode (12.4)? Could you also update target OS to iOS 12.2 as that is the minimum supported iOS version for the current release of Intune. The wrapper updates the minimum OS in the app's Info.plist, and usually this works fine. But if the app is using some old system API that is no longer available for apps targeting higher OS

[2021-02-10 19:01] Nathan187 commented on #52
if we can successfully create an ipa within xcode, when we try to wrap again...do we use the latest version of the intune wrapper tool?

[2021-02-10 20:21] Kyle-Reis commented on #52
@Nathan187 - Yes, you should re-wrap with the latest version of Intune. I don't think just updating target OS in the existing IPA will fix anything (the wrapper already does this), as the actual executable of the app was still compiled against an older iOS SDK. Updating Info.plist just makes it so the app can't be installed on older iOS versions.

Just to help confirm the version of Xcode that the

[2021-02-10 20:25] Nathan187 commented on #52
9F2000

since then, we rebuilt the project using xcode 12.4, set the minimum os to 12.3 and wrapped with version 14.0.  one of the admins is trying now to see how this goes.

[2021-02-10 20:33] Kyle-Reis commented on #52
Yep, looks like the original bundle was built with Xcode 9. Just want to confirm, was the target OS configured within Xcode build settings, or did you make that change in the Info.plist of the ipa after building with Xcode 12.4?

[2021-02-10 21:13] Nathan187 commented on #52
i think i changed it in the xcode build settings

[2021-02-11 13:13] Nathan187 commented on #52
does it make any difference if we are using the wrapping tool for mac versus windows?  i have been wrapping the ipas with the intune wrapping tool on the mac.   also, i'm curios about this being mentioned

If you've wrapped your app, you'll want to re-wrap your app with the latest wrapper (13.0.0 or higher)

wrap it twice?

[2021-02-11 16:53] Kyle-Reis commented on #52
Hi @Nathan187 - The app wrapping tool only works on Mac. "re-wrap" in the statement you referred to means to wrap the original (unwrapped) app again with the newest version of Intune and deploy it as an update.

[2021-02-12 00:39] Nathan187 commented on #52
thanks for your help Kyle.  We found a temporary solution.  Incident should be closed for now

[2021-02-16 16:15] #52 closed

[2021-02-16 16:16] Kyle-Reis commented on #50
Hi @akhilesh6024, checking in to see if you're still having issues here.

[2021-02-16 16:17] Kyle-Reis commented on #46
Hi @Mason11987, were you able to check if the issue is resolved with the latest release?

[2021-02-16 16:19] Kyle-Reis commented on #41
Hi @ostridgep, are you still having issues wrapping your app?

[2021-02-16 17:02] Mason11987 commented on #46
Haven't yet, this isn't our highest priority item right now.  Thanks

[2021-02-22 18:28] Mason11987 commented on #46
Was able to check it today (had to rewrap due to 14.5 beta breaking things) and we're still facing the same issue.

If there's anything else I can offer besides my initial bug let me know.  Thanks!

[2021-02-25 14:32] neerajhr19 opened #53 "wrapped iOS app stuck at white screen after authentication from broker app (Microsoft Authenticator)"
Hi Team,
I have an iOS app which i wrapped using intune-app-wrapping-tool-ios.
The application was wrapped successfully and then the app was deployed using intune via Line of business app.
After deployment, the application auto installed in my device. On opening the app it says "checking your organisation data", post which it redirects to Microsoft authenticator app.
After successful authenticatio

[2021-02-25 14:59] Kyle-Reis commented on #53
Hi @neerajhr19, which version of the wrapping tool are you using to wrap? Are you providing custom AAD settings when wrapping?

[2021-02-25 15:00] Kyle-Reis commented on #50
Closing out this issue due to inactivity. Please reopen if you're still experiencing this issue.

[2021-02-25 15:00] #50 closed

[2021-02-26 04:23] neerajhr19 commented on #53
Hi @Kyle-Reis,
I am using 14.1.3 version to wrap.
I am also using custom AAD Settings as below
-aa "https://login.microsoftonline.com/<my-tenant-id>"
-ac "<application/clientid>"
-ar "msauth.<app_package_name>://auth"

[2021-03-09 15:09] Kyle-Reis commented on #53
Thanks @neerajhr19 - from the above it sounds like the app is already linking to MSAL prior to being wrapped? Could you share the version of MSAL?

[2021-03-09 15:11] Kyle-Reis commented on #45
Hi @PushpitaPawar - checking in to see if your issue has been resolved?

[2021-03-25 05:38] almohammad opened #54 "RTL layout is not supported"
**Describe the bug:**
After wrapping the IPA file which has Arabic default layout (Right to Left) .

**To Reproduce**
Steps to reproduce the behavior:
1. Double Click on MIA.dmg
2. Execute the command to wrapper the package
3. The layout is correct (RTL) Before wrapping the ipa but after wrapping file and test it again on the mobile the layout back to LTR

**Expected behavior:**
A clear and concis

[2021-03-25 10:36] mdkubaib89 opened #55 "Getting errror "The work or school account you specified doesnt have access to this app" , we have wrapped inhouse ios app and applied app protection policy,"

[2021-03-25 17:59] Kyle-Reis commented on #55
Hi @mdkubaib89 - this error can occur if the device is enrolled with a different account from the one you are attempting to sign in with or the app was previously enrolled with a different account on this device without being unenrolled. When the app first prompts for credentials, is the user auto-populated and are you attempting to change to a different user?

[2021-03-25 18:12] Kyle-Reis commented on #54
Hi @almohammad, are you able to share screenshots of the UI before and after wrapping?

[2021-03-25 18:13] Kyle-Reis commented on #53
@neerajhr19 - Checking in to see if you're still experiencing this issue?

[2021-03-26 05:57] ankitpoplify opened #56 "Do we need enterprise account to rollout LOB iOS app?"
**Describe the bug:**
Hello, we wrapped lob iOS app for some users using intunes sdk. But when user are trying to install the app they are getting app could not be installed because it's integrity not verified. I want to ask do we need users UUID registered to profile to make app install on their devices or intunes manage this itself? We are using apple developer account not enterprise account.

*

[2021-03-26 17:07] Kyle-Reis commented on #56
Hi @ankitpoplify, when using development cert/profile to sign the app, the app can only be installed on specific devices listed in the provisioning profile. Intune does not manage this. To install the app on any device, it needs to either be enterprise or release signed.

[2021-03-26 17:11] ankitpoplify commented on #56
On Fri, 26 Mar 2021 at 10:38 PM, Kyle Reis ***@***.***> wrote:

Thanks for the reply sir. One more thing what do you mean by release signed
app? Is it making app available on app store? Actually, our app is not
available on app store, so how can we distribute app to our users without
making it available on app store? Do we need to take enterprise
membership?--
-- ​

Regards

*Ankit Singh | Tech As

[2021-03-26 17:20] Kyle-Reis commented on #56
Hi @ankitpoplify general-distribution (release) signed apps can only be distributed via official Apple channels - App Store and TestFlight (for preview builds). To distribute via other channels (like Intune Company Portal), the app should be enterprise signed. In that scenario, users need to explicitly trust the organization in the iOS settings before they are allowed to use any of its application

[2021-03-26 17:22] ankitpoplify commented on #56
Ok, thanks for the clarification. Have a great weekend.

On Fri, 26 Mar 2021 at 10:50 PM, Kyle Reis ***@***.***> wrote:

--
-- ​

Regards

*Ankit Singh | Tech Associate*

Poplify Limited
WeWork, 41 Corsham St., London, UK

E ***@***.*** | W http://www.poplify.com

--

Help Save Earth. Please do not print this email unless absolutely
necessary. 

This e-mail contains PRIVILEGED AND CONFIDENTIAL INF

[2021-03-26 17:22] Kyle-Reis commented on #56
No problem! You as well :)

[2021-03-26 17:22] #56 closed

[2021-04-02 15:58] rooneytx opened #57 "Unable to open/pass information to MAM policy exempt app"
We have the iOS MAM setting “Send org data to other apps” set to Policy Managed apps. The issue is that any of the non-managed apps we include the “Select apps to Exempt” section are not launching or if launching are not populated with info we are passing to them.

Example: We are trying to pass information from the MAM app to the iOS native email app as well as to the native text message app. We

[2021-04-05 22:03] Kyle-Reis commented on #57
Hi @rooneytx - this issue is the same as issues [126](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/issues/126) and [127](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/issues/127) in our SDK repository. As such I will close out this issue as well as 127 so that it can be tracked in a single place. At it's core, the problem is that the apps are attempting to use built-in view co

[2021-04-05 22:03] #57 closed

[2021-04-07 10:51] almohammad commented on #54
![Injaz App](https://user-images.githubusercontent.com/17505396/113854430-ed39ef00-97af-11eb-8208-39c85f91995e.jpg)

Thanks Kyl-Reis for your response , please find the attached screenshot taken from the setting of the app, kindly notice this setting is not existing when we install the IPA on the device before wrapping it so the setting back again to English after wrapping it .

How can change the

[2021-04-07 14:53] Kyle-Reis commented on #54
Hi @almohammad - I have 2 questions:

1.) Is testing of the wrapped and unwrapped app being performed on the same device? Or different devices?

2.) Does the unwrapped application support localizing to multiple languages? Or is only Arabic supported?

[2021-04-07 15:49] almohammad commented on #54
On Wed, 7 Apr 2021 at 6:54 PM Kyle Reis ***@***.***> wrote:

Yes performed on same device.

2.) Does the unwrapped application support localizing to multiple

The unwrapped application has Ar by default and yes support to localizing
multiple languages.

Thanks

[2021-04-07 17:08] Kyle-Reis commented on #54
Thanks @almohammad. On iOS 13 and higher, the per-app "Preferred Language" setting will appear if the user has added multiple system languages in the iOS general system settings (General -> Language -> Preferred Language Order). The primary system language. Based on the screenshot you shared, it looks like the primary language on the device is English? If the primary language on the device is Arab

[2021-04-08 05:59] almohammad opened #58 "Force a IOS device to download the latest application from Intune MAM"
Hi @Kyle-Reis
Is there any way to force a IOS device to download the latest application using Microsoft Intune MAM?
Do I need to include the new version in the command for wrapping so user can get the latest version?

Thanks,

[2021-04-08 15:06] Kyle-Reis commented on #58
Hi @almohammad. IT administrators can configure Intune app protection policy to block users from accessing corporate data if they attempt to use a an app version which is lower than a specified minimum. Admins can also use MAM app config to configure the URL which the user should be directed to when they receive the blocking prompt.

![image](https://user-images.githubusercontent.com/7443106/11405

[2021-04-08 15:10] Kyle-Reis commented on #58
To answer your question about wrapping newer versions, yes, to continue supporting Intune MAM, newer versions of the app should also be wrapped before being deployed as an update.

[2021-04-08 15:11] Kyle-Reis commented on #58
Note: It is also recommended that you stay current with the latest version of the Intune app wrapping tool.

[2021-04-09 11:29] virtualsb opened #59 "Not able to wrap application with in-house provisioning profile, but able to wrap with development provisioning profile. On multiple releases, including the latest release."
**Describe the bug:**
Not able to wrap application with in-house provisioning profile, but able to wrap with development provisioning profile. On multiple releases, including the latest release.

**To Reproduce**
Steps to reproduce the behavior:
Execute wrapping command with the latest version and tried with other releases up until 12.2.0

The app's Frameworks directory could not be signed. This m

[2021-04-09 14:19] Kyle-Reis commented on #59
Hey @virtualsb, have you tried launching the "Keychain Access" app on the mac where you are attempting to wrap the app and checking if the certificate you are using is still valid (has not expired)?

[2021-04-09 14:27] virtualsb commented on #59
Hi @Kyle-Reis
Thank you for your reply.
Ive checked, its still not expired, Pic below for reference
![image](https://user-images.githubusercontent.com/53297475/114195019-a94b1380-9982-11eb-904f-beca509bb9c0.jpeg)

[2021-04-09 15:03] Kyle-Reis commented on #59
Thanks @virtualsb. For the certificate parameter (-c) provided to the app wrapping tool, it looks like you may be providing the certificate name? Are there other certificates in the keychain with the same name? If so, could you try using the SHA-1 fingerprint hash of the specific cert you want to use? Or, if other certs with the same name are expired or no longer needed, try removing them from the

[2021-04-09 15:06] Kyle-Reis commented on #59
Ah never mind, it does look like a SHA-1 hash is being used.

[2021-04-09 15:07] virtualsb commented on #59
@Kyle-Reis im removing other certs listed here and will retry again

[2021-04-09 15:16] virtualsb commented on #59
It worked!
Thank you so much @Kyle-Reis Thank you!
I removed every cert that I see in the 'Keychain Access', recreate my provisioning profile, and it successfully packaged. OMG thank you so much once again

[2021-04-09 15:56] Kyle-Reis commented on #59
Great! Reach out again if you have any questions or issues.

[2021-04-09 15:56] #59 closed

[2021-04-14 09:49] gkrishnan777 opened #60 "Getting Failed to build Module error while integrating IntuneMAMSwift framework to iOS project"
Hi,

I have downloaded the latest Intune SDK (version 14.3.5) from the below link,

https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases

I have tried to integrate this SDK to iOS application, after added this SDK and when i tried to build the project, I'm getting the following error,

Failed to build module 'IntuneMAMSwift' from its module interface; it may have been damaged or it may

[2021-04-14 14:32] neiljac1 commented on #60
@gkrishnan777 Can you reproduce this error on a brand new project? If so, can you post it here?

Thanks,
Neil

[2021-04-15 18:27] Kyle-Reis commented on #57
@rooneytx - does your application's config.xml have access entries specified for "sms:*" and "mailto:*" with the launch-external attribute configured to "yes", as mentioned [here](https://cordova.apache.org/docs/en/4.0.0/guide/appdev/whitelist/#external-application-whitelist)? If not, could you give this a try?

[2021-04-15 20:54] ryandegruyter opened #61 "Certificate-based authentication with Azure AD for iOS does not work with wrapped builds initially"
**Describe the bug:**
When I enroll with Intune and install the wrapped build, I can never log in the first time.
I need to install the non-wrapped build first because it will show the following pop up which the wrapped build never triggers:

![image](https://user-images.githubusercontent.com/12190633/114936651-fe809c80-9e3c-11eb-9837-194a4f9e1a78.png)

Once this popup has been approved, I can log

[2021-04-16 14:09] neiljac1 commented on #61
Hi @ryandegruyter,

Before you wrap your application, try adding a dictionary named IntuneMAMSettings to your application's Info.plist and add a boolean key named SafariViewControllerBlockedOverride with value YES.

Thanks,
Neil

[2021-04-19 06:20] ryandegruyter commented on #61
Thank you @neiljac1, this works. Our MDM policy states all links should open in Edge, but this can act as a temporary solution.
Ideally, we would want our app to open Microsoft Authenticator, but brokered authentication does not seem to work in our case.  It will always try and open a web-browser instead of the Authenticator app. I have opened an issue in https://github.com/AzureAD/microsoft-authe

[2021-04-19 13:48] neiljac1 commented on #61
Hi @ryandegruyter,

I'm glad this fixed the issue for you. HTTP/HTTPS links will still open in edge with this setting. If your application uses SFSafariViewController for other purposes, the data in the view will not be protected however.

Thanks,
Neil

[2021-04-19 14:41] #61 closed

[2021-04-22 17:47] rooneytx commented on #57
Hi,

We already set the Launch-external to yes. From the config file.

 <access launch-external="yes" origin="sms:*" />
    <access launch-external="yes" origin="mailto:*" />

Rooney

??

________________________________
From: Kyle Reis ***@***.***>
Sent: Thursday, April 15, 2021 6:28 PM
To: msintuneappsdk/intune-app-wrapping-tool-ios ***@***.***>
Cc: rooneytx ***@***.***>; Mention ***@***.***>
Su

[2021-04-29 05:23] songmw90 opened #62 "IntuneOpenInAction issue"
Steps to reproduce the action:
1. During wrapping, the following message appears.

"WARNING: This application supports opening one or more file types, but does not have the appropriate entitlements to be supported with Intune APP. An additional provisioning profile needs to be specified using the -x command line argument. This profile must have a wildcard application-identifier or must have an app

[2021-04-29 20:58] Kyle-Reis commented on #62
Hi @songmw90. Usage of the "-x" option is shown in the help text of the app wrapping tool:
./IntuneMAMPackager/Contents/MacOS/IntuneMAMPackager -i /Users/myadmin/Documents/MyExtensionApp.ipa -o /Users/myadmin/Documents/MyExtensionApp_Wrapped.ipa -p /Users/myadmin/Documents/My_Provisioning_Profile_.mobileprovision -c "iPhone Developer: Developer Name (ABCXYZ1234)" -x \<array\>\<string\>/Users/myadm

[2021-04-29 22:00] Kyle-Reis commented on #58
Closing out this issue as the question has been answered. Please reach out again if you have any other questions!

[2021-04-29 22:00] #58 closed

[2021-05-06 05:38] songmw90 commented on #62
The issue seems to be resolved.

I couldn't figure out that the -x command should take the format <array><string> even if it uses only one provision. Wrapping succeeded as I modified the format as the answer.

Thanks for the help

[2021-05-06 05:38] #62 closed

[2021-05-28 10:00] lrmakode opened #63 "Wrapped IOS app stuck at white screen after re-installation."
**Describe the bug:**
App stuck at white screen on launch after re-installation. If the session is already authenticated(user is not asked for pin) then white screen appears.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Wrapped Intune App.
2. Open and authenticate.
3. Unistall the App
4. ReInstall the app.(White screen appears on launch)

**Expected behavior:**
White screen should

[2021-06-02 18:17] gastaffo commented on #63
Hi @lrmakode. I was not able to reproduce this issue. Is your app a native Obj-C/Swift app? Can you provide a screen shot of the white screen you are seeing?

[2021-06-03 08:37] lrmakode commented on #63
Hi @gastaffo please find attached video in the following video issue is reproduced.
https://user-images.githubusercontent.com/3403274/120613927-54081b80-c474-11eb-97c3-fa8a555804be.MP4

in the following video issue is not there as user is asked for authentication.
https://user-images.githubusercontent.com/3403274/120614317-b82adf80-c474-11eb-8a8d-a619f34a499a.MP4

[2021-06-03 14:41] gastaffo commented on #63
Hi @lrmakode. Ok looks like we aren't giving UI control back correctly. Can you send logs from the device? You can bring up the diagnostics console by going to the app in the settings panel Microsoft Intune -> Display Diagnostics Console.

Also does your app do any swizzling at start up?

[2021-06-03 20:00] Kyle-Reis commented on #55
@mdkubaib89 - Checking in to see if you're still having this issue?

[2021-06-03 20:01] #54 closed

[2021-06-04 07:08] lrmakode commented on #63
Hi @gastaffo please find logs attached. we are not using swizzling our iOS app.
[IntuneMAMDiagnosticFiles.txt](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/files/6596415/IntuneMAMDiagnosticFiles.txt)

let me know if anything else is required, if you want I can send the logs for the case in which issue is not reproduced.

[2021-06-04 17:38] gastaffo commented on #63
Hi @lrmakode. Could you repro the issue again with verbose logging enabled? To enable verbose logging add the key "VerboseLoggingEnabled" to YES in the "IntuneMAMSettings" dictionary of the apps info.plist

[2021-06-07 11:45] lrmakode commented on #63
Hi @gastaffo please find attached verbose logs with verbose logging enabled.
**With Issue**
[IntuneMAMDiagnosticFiles_WithTheIssue.txt](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/files/6606135/IntuneMAMDiagnosticFiles_WithTheIssue.txt)
**Without Issue**
[IntuneMAMDiagnosticFiles_WithoutTheIssue.txt](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/files/6606138/In

[2021-06-07 16:13] gastaffo commented on #63
Hi @lrmakode. We aren't noticing anything out of place in the logs. It would be best if we could start an support ticket. To do this go to https://endpoint.microsoft.com/#home "Troubleshooting + support" -> "Help and support" -> "Intune".

[2021-06-07 16:20] gastaffo commented on #63
Also another question, is the app linking to MSAL/ADAL before being wrapped?

[2021-06-07 21:50] Kyle-Reis commented on #53
Closing out this issue due to inactivity. Please reopen if you are still experiencing this problem.

[2021-06-07 21:50] #53 closed

[2021-06-08 10:59] lrmakode commented on #63
Hi @gastaffo, Thanks for the help we have raised issue at Microsoft support and to answer you question we are not using MSAL or ADAL in our app.

[2021-06-30 13:58] Kyle-Reis commented on #55
Closing out this issue due to inactivity. Please reopen if you are still experiencing this problem.

[2021-06-30 13:58] #55 closed

[2021-08-03 00:18] rrmiraz opened #64 "Conditional Access doesn't detect Intune protection policy."
When trying to log in an app with Wrapped with this tool + MSAL into an Azure tenant with a Conditional Access policy requiring an app protection policy for all cloud apps, I get an error saying " Application needs to enforce Intune protection policies" When the app has been registered in the Microsoft Endpoint, a protection policy applied to it and It is correctly loaded into the app.

Is this to

[2021-08-16 14:31] abasore commented on #64
@rrmiraz App Protection CA support does require changes to user sign-in flow for an app and therefore is not supported by the Intune App Wrapper tool. You can see all the supported/not supported features between the App Wrapper vs SDK [here](https://docs.microsoft.com/en-us/mem/intune/developer/apps-prepare-mobile-application-management#feature-comparison).

I'll close this issue for now.

[2021-08-16 14:33] #64 closed

[2021-09-01 14:22] abasore commented on #41
Closing this due to inactivity. Feel free to open a new issue if issue is still persistent.

[2021-09-01 14:22] #41 closed

[2021-09-01 14:24] abasore commented on #45
Closing this issue due to inactivity. Feel free to open again if issue persists.

[2021-09-01 14:24] #45 closed

[2021-09-01 14:26] abasore commented on #60
Closing this due to inactivity. Feel free to open again if issue persists.

[2021-09-01 14:26] #60 closed

[2021-09-02 12:48] abasore commented on #35
Closing this due to inactivity. Feel free to open again if issue persists.

[2021-09-02 12:48] #35 closed

[2021-09-23 18:19] mlynch opened #65 "Incorrect documentation for running App Wrapping Tool"
The docs for using the iOS App Wrapping Tool reference a number of things that don't seem to exist in this repo anymore:

[2021-09-23 18:23] mlynch commented on #65
Okay I'm getting the EULA prompt now, perhaps it went below other windows and I missed it. However, the DMG name in the docs does not match.

[2021-09-23 18:24] mlynch commented on #65
The path to the CLI tool referenced in the docs is incorrect.

Current version in the docs:

`/Volumes/IntuneMAMPackager/Contents/MacOS/IntuneMAMPackager`

Actual path:

`/Volumes/IntuneMAMAppPackager/IntuneMAMPackager/Contents`

[2021-09-23 18:26] vigavadi commented on #65
@mlynch Thank you for reaching out. We will work on updating the docs.

[2021-10-04 15:08] vigavadi commented on #65
@mlynch The docs have been updated.

[2021-10-26 05:29] songmw90 opened #66 "Cannot wrap in version 15.0"
/Volumes/IntuneMAMAppPackager/IntuneMAMPackager/Contents/MacOS/IntuneMAMPackager -i {NAME}.ipa -o {NAME}_wrapped.ipa -p {origin}.mobileprovision -x \<array\>\<string\>/Users/admin/Desktop/intune/{extra}.mobileprovision\</string\>\</array\> -c "{CREDENTIAL}" -v true -e

I have been wrapping in 14.0 with the same command, but after migrating to 15.0, I cannot wrap and a segmentation 11 error occurs.

[2021-11-03 05:14] songmw90 commented on #66
Same with the  wrapping tool 15.1

[2021-11-03 15:46] gastaffo commented on #66
@songmw90 That usually means there is faulty code in out wrapper. Has this been happening on multiple apps or only on a specific app? If it is a specific app would you be willing to share an ipa of it so we could attempt wrapping it with a debug verison of the wrapper?

Also trying a new provisioning profile could help. Also the error message in english is
"CRLStyle is set to 'None'. Please set th

[2021-11-04 01:15] songmw90 commented on #66
[IntuneAppPackager_log_2021_11_308_09_58_00.txt](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/files/7471582/IntuneAppPackager_log_2021_11_308_09_58_00.txt)
[IntuneAppPackager_log_2021_11_308_09_59_01.txt](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/files/7471583/IntuneAppPackager_log_2021_11_308_09_59_01.txt)

I applied 'defaults write com.apple.security.revoca

[2021-11-04 14:49] gastaffo commented on #66
@songmw90 So packaging with 14.6 works with the original provisioning profile but not with the new one. Did the 15 wrapper fail with the new provisioning profile?

Also for the second log file it seems that no errors were captured to the text yet I don't see a successful finish statement. Did that run also succeceed?

[2021-11-10 09:26] minhadd opened #67 "Wrap an app with a share extension: A specified extension provisioning profile was not valid"
**Describe the bug:**
Hi team, I create an app with an extension. I face an issue when I wrapped my app using wrap tool (15. and 14.0.0):

"A specified extension provisioning profile was not valid.
Cause of the error to be provided for investigation:Error Domain=IntuneAppPackager Code=22 "A specified extension provisioning profile was not valid." UserInfo={NSLocalizedDescription=A specified extens

[2021-11-10 15:45] neiljac1 commented on #67
Hi @minhadd. This error can occur if the bundle id in the share extension provisioning profile does not match the bundle id of the share extension. Can you check if these match? You can open the provisioning profile in a text editor and search for 'application-identifier'. Note, if the main provisioning profile specified by the -p argument is a wildcard provisioning profile, then specifying the ex

[2021-11-11 08:46] minhadd commented on #67
Hi @neiljac1

I tried to check my Bundle ID on Xcode and Provisioning Profile on my extension provisioning profile (many times). I confirm these matched.
Also, I tested my app in Simulator and Physical device. It worked with share extension well.

My app is a Enterprise version (In-House). I am using explicit IDs:
- Contain app: com.company.app
- Extension app: com.company.app.extension

<img widt

[2021-11-11 12:21] neiljac1 commented on #67
Hi @minhadd.

1) Can you confirm your application only has a single share extension and no other extensions or Watch apps?
2) Are you able to build in Xcode using the provisioning profiles used during wrapping and run on a device?
3) If 'yes' to #2, can you try opening up the .app and extracting the 'embedded.mobileprovision' file from the root of the application directory as well as the 'embedded

[2021-11-12 08:26] minhadd commented on #67
Hi @neiljac1 ,

1. I confirm my app has a single share extension.
2. Yes I can
3. I got 2 provisioning profiles from app and extension. I passed these profiles to the packager. But I got the same result.

Also, I tried to test:
- Create a new app with a single extension => same issue
- Create 2 new provisioning profiles (App + Extension) => same issue
- I changed to a new MacBook: used a new Apple

[2021-11-12 15:02] neiljac1 commented on #67
Hi @minhadd. The Intune packager must be failing to parse your provisioning profiles. Would you be willing to share your provisioning profiles? You could either email them to me directly (neiljac@microsoft.com) or you could create a support ticket via Endpoint Manager (https://endpoint.microsoft.com) by going to "Troubleshooting + support" -> "Help and support" -> "Intune".

Thanks,
Neil

[2021-11-15 03:16] minhadd commented on #67
Hi @neiljac1 ,

I sent the provisioning profile to neiljac@microsoft.com. Please help to check.

Thanks,
Minh

[2021-11-15 15:31] neiljac1 commented on #67
Hi @minhadd. Thank you for sending the provisioning profiles and sample application. The issue turned out to be unrelated to the profiles. The packager is not handling tilde paths correctly within the -x argument array. As a work around, please change the tilde path from ~/Documents to an absolute path. We'll fix this in the packager in a future release. Thank you for bringing this issue to our at

[2021-11-16 04:23] minhadd commented on #67
Hi @neiljac1,

It worked well. Thank you very much for your supporting.

Thanks,
Minh

[2021-11-16 13:02] neiljac1 commented on #67
Glad it work.

-Neil

[2021-11-16 13:02] #67 closed

[2021-11-17 16:03] gastaffo commented on #66
@songmw90 Any updates?

[2021-11-19 06:22] songmw90 commented on #66
Sorry for the late update. I've been busy lately
I tested the same with the latest version 15.1.3 wrapping tool, but the result is the same

The provisioning profile in the log is not mine. So I can't update it on my own. Therefore, we will make a test app in the short term and update the contents later.

* If the result fails, the final result is not written in the log of the lapping tool. Even i

[2021-11-19 14:24] iit2008047 opened #68 "redirect to white screen and not the app"
**Describe the bug:**
When I am launching the app for the first time, after loggin in and setting FACE ID .. I am redirect to white screen and not the app

**To Reproduce**
https://user-images.githubusercontent.com/76396/142637892-a658759e-d564-4224-875b-af521f94ded9.mp4

**Expected behavior:**
The wrapped app should open

pen
**Screenshots and logs:**
[IntuneMAMDiagnosticFiles (1).txt](https://gi

[2021-11-19 14:26] iit2008047 opened #69 "App Stuck in loading Organization Data"
**Describe the bug:**
App Stuck in loading Organization Data  is attached video.

**To Reproduce**
https://user-images.githubusercontent.com/76396/142638385-d59f6975-9ddf-41e1-9d3a-34218437a285.mp4

**Expected behavior:**
Organization Data is loaded and app is launched

[2021-11-19 14:52] iit2008047 commented on #63
I am also facing this issue ... Have you found RCA and the fix

[2021-11-19 16:04] gastaffo commented on #63
@iit2008047 Could you provide logs from your repro like above? With the verbose key enabled.

[2021-11-22 08:15] iit2008047 commented on #63
To Reproduce
https://user-images.githubusercontent.com/76396/142637892-a658759e-d564-4224-875b-af521f94ded9.mp4

Expected behavior:
The wrapped app should open

pen
Screenshots and logs:
IntuneMAMDiagnosticFiles (1).txt

[2021-11-24 20:35] iit2008047 commented on #63
[IntuneMAMDiagnosticFiles.1.txt](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/files/7598581/IntuneMAMDiagnosticFiles.1.txt)
@gastaffo here is the log

[2021-11-24 20:41] iit2008047 commented on #68
@gastaffo i have opened a new issue

[2021-11-24 20:54] gastaffo commented on #68
@iit2008047 So I can close the other issue?

[2021-11-25 04:22] mprabhu33 opened #70 "Wrapped iOS app stuck first time"
**Describe the bug:**
Wrapped iOS app stuck first time after checking organization data requirements. If close and reopen the app, then is working fine without any issue.

Note: Without intune iOS app wrapping, iOS app is working fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Wrap the iOS app using intune iOS app wrapping tool.
2. Distribute the iOS app through intune MDM.
3. Open the

[2021-11-25 13:30] iit2008047 commented on #68
Yes .. Please help me figure this issue out.

[2021-11-25 13:34] iit2008047 commented on #69
[IntuneMAMDiagnosticFiles (6).txt](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/files/7603298/IntuneMAMDiagnosticFiles.6.txt)

Diagnostic file for the above issue

[2021-11-29 05:32] iit2008047 commented on #70
+1

[2021-11-30 20:34] iit2008047 commented on #68
@gastaffo is there any update ??

[2021-11-30 20:43] gastaffo commented on #68
Sorry no. A few things.
1. Does your repro require credentials other than Intune credentials? If not then you could send us an unwrapped IPA and we could wrap it in debug mode and attempt to see whats going on.
2. Could you attempt a repro with Verbose logging and then provide us the logs? To do this before wrapping the app add in the info.plist add a dictionary with the name "IntuneMAMSettings" i

[2021-11-30 20:43] gastaffo commented on #68
@iit2008047  Ping for notification

[2021-11-30 20:52] iit2008047 commented on #69
@gastaffo this is the second issue in the same app .. would reply appreciate your help

[2021-11-30 23:13] iit2008047 commented on #68
@gastaffo can u share your email address .. will share

[2021-11-30 23:29] gastaffo commented on #68
@iit2008047 gastaffo@microsoft.com

[2021-12-01 00:32] iit2008047 commented on #68
@gastaffo shared unwrapped IPA  via email

[2021-12-01 07:39] iit2008047 commented on #68
[IntuneMAMDiagnosticFiles (7).txt](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/files/7631791/IntuneMAMDiagnosticFiles.7.txt)
@gastaffo this is the log collected after adding "IntuneMAMSettings" -> VerboseLoggingEnabled in plist

[2021-12-01 20:34] gastaffo commented on #68
@iit2008047 Does the user have an MAM-CA policies assigned to them? Also is authenticator installed on the device?

[2021-12-01 20:50] gastaffo commented on #70
@mprabhu33 Sorry for the slow response its been a bit busy. We are currently investigating the wrapper issues and we will update this thread as soon as we have more information.

[2021-12-02 03:57] iit2008047 commented on #68
<img width="788" alt="Screenshot 2021-12-02 at 9 24 48 AM" src="https://user-images.githubusercontent.com/76396/144354914-5c7eb4cc-6391-4736-a959-69f4bf904fd4.png">
<img width="718" alt="Screenshot 2021-12-02 at 9 24 58 AM" src="https://user-images.githubusercontent.com/76396/144354926-503872f8-a6bc-452f-8e42-e83d7ac05752.png">
<img width="737" alt="Screenshot 2021-12-02 at 9 25 06 AM" src="https:

[2021-12-02 03:58] iit2008047 commented on #68
authenticator is also installed in iOS device @gastaffo

[2021-12-06 06:57] iit2008047 commented on #68
Hey @gastaffo, Hope you are doing good .. please let me know know if you have any update?

[2021-12-06 17:07] gastaffo commented on #68
@iit2008047 Trying to run with a debug wrapper

[2021-12-06 21:47] gastaffo commented on #68
@iit2008047 After the SDK calls into the apps delegate for `applicationDidFinishLaunchWithOptions:` it stalls. Looking at the call stack we see this
  * frame #0: 0x00000001b8c90504 libsystem_kernel.dylib`mach_msg_trap + 8
    frame #1: 0x00000001b8c90b9c libsystem_kernel.dylib`mach_msg + 76
    frame #2: 0x000000018176b738 CoreFoundation`__CFRunLoopServiceMachPort + 372
    frame #3: 0x0000000181

[2021-12-07 09:23] iit2008047 commented on #68
@gastaffo thanks for the update.
we investigated further with your inputs.

The app is a react native app and we have added a custom splash screen handling till the RN bridge is initialized.
After removing that splash screen handling, the white screen issue did not happen and the app started up as expected.

Would u please help us understand how wrapper tool used applicationDidFinishLaunchWithOpti

[2021-12-07 16:56] gastaffo commented on #68
@iit2008047 The SDK will intercept the OS calling into applicationDidFinishLaunchingWithOptions for the Apps Delegate so we can apply conditional launch policy. Once we are done we then call into delegate. For apps built with things like React this can sometimes cause problems.

In the IntuneMAMSettings dictionary in the info.plist could you add "FinishLaunchingAtStartup" set to YES and retry with

[2021-12-07 21:25] gastaffo commented on #66
@songmw90 Sorry for the delayed response. Would you be willing to get a preview wrapper with more logging in it that you could run to help us determine where the crash is happening?

[2021-12-08 08:46] IliyanPopov opened #71 "Wrapped Xamarin Forms iOS app is stuck at initial screen"
**Describe the bug:**
Wrapped Xamarin Forms iOS app is stuck at initial screen. Popup with message "Error. Unexpected failure. Contact your IT administrator help."

**To Reproduce**
1. Start the application
2. Issue is observed

**Expected behavior:**
Application should be usable.

**Screenshots and logs:**
![IMG_0104](https://user-images.githubusercontent.com/13572259/145176787-ed269088-b7dc-4cc2

[2021-12-09 05:08] songmw90 commented on #66
There is a problem even after testing with a completely new build rather than the version provided to the client. Tested on the latest version of the wrapper. (I updated the provisioning profile as well, and it all happens in ipa where "recompile bitcode" of xcode is checked or not checked )

sure

[2021-12-09 16:42] gastaffo commented on #68
@iit2008047 Any updates? Is the wrapper working as expected now?

[2021-12-10 10:37] iit2008047 commented on #68
Thanks @gastaffo this was helpful ..

[2021-12-10 11:49] mprabhu33 commented on #70
@gastaffo Could you please update on this issue?
Also, please find the device logs below,
Download URL: https://drive.google.com/file/d/1lWDKhc8byZE06pCPgJPtNWqW9vZDgrC3/view?usp=sharing
AppID: com.symphonysummitai.servicemanagement

[2021-12-10 17:18] gastaffo commented on #68
@iit2008047 No problem! I will close the opened issues. Also if you do not want to put "FinishingLaunchingAtStartup" in the info.plist directly you can also use the command line option `-finishLaunching` when wrapping.

[2021-12-10 17:18] #68 closed

[2021-12-10 17:20] gastaffo commented on #70
@mprabhu33 Sorry for the slow response. Would you be willing to try wrapping with the `-finishLaunching` command line argument? We have noticed some apps can hang if that argument is not present.

[2021-12-10 17:21] gastaffo commented on #69
Closing as solved in https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/issues/68

[2021-12-10 17:21] #69 closed

[2021-12-10 17:21] gastaffo commented on #63
Closing as is solved in https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/issues/68

[2021-12-10 17:21] #63 closed

[2021-12-10 17:22] gastaffo commented on #66
@songmw90 Cool. Once we have a repo to share a preview with you I will update this thread

[2021-12-13 19:27] gastaffo commented on #66
@songmw90 You should get an invite to a preview repo soon. Accept that invite. I will update this thread letting you known when we have the wrapper updated for you to try out

[2021-12-13 23:37] gastaffo commented on #66
@songmw90 The private repo should now have the preview wrapper. Please run it with the "-v" option and send the output.

[2021-12-14 04:49] songmw90 commented on #66
The added log seems to be this

The command entered is as follows

[2021-12-14 07:04] OmarHassan25 commented on #70
@mprabhu33  Could you please confirm if using this argument `-finishLaunching`  fixed the issue?

[2021-12-14 12:52] mprabhu33 commented on #70
Thanks @gastaffo. Tried iOS app wrapping with the -finishLaunching command line argument.
Wrapped iOS app working fine now.

[2021-12-14 12:52] #70 closed

[2021-12-14 18:13] gastaffo commented on #66
@songmw90 Ok good. I have updated the repo again with another version of the wrapper with more logging that should help us narrow down where it is going even further. Could you run the command again with the new version of the wrapper?

[2021-12-14 18:16] songmw90 commented on #66
It is currently 3 am in Korea. I think I can try it out in about 6 hours. Maybe we can resolve this issue within this week?

[2021-12-14 18:18] gastaffo commented on #66
@songmw90 No rush. Im hoping we should be able to figure this out by the end of this week. The extra logging is helping alot with pin pointing where the seg fault is happening.

[2021-12-14 18:23] songmw90 commented on #66
I'll try in 6 hours. Additionally, starting today, I will take my MacBook  when I get home from work. Starting tomorrow, I will cooperate as much as possible around this time. Our company is hoping that this issue will be resolved as soon as possible.

[2021-12-15 01:42] songmw90 commented on #66
added log

[2021-12-15 16:36] gastaffo commented on #66
@songmw90 Does the app being wrapped have icons?

[2021-12-15 16:43] songmw90 commented on #66
If you are talking about the app icon, there is.

[2021-12-15 16:44] gastaffo commented on #66
@songmw90 Would you be willing to email me an unwrapped IPA so that I can attempt to repro the issue on my end?

[2021-12-15 16:47] songmw90 commented on #66
The app isn't mine, it's the company's, so that could be a problem. Is there any other way?

[2021-12-15 16:48] gastaffo commented on #66
@songmw90 Yea I could send over another wrapper with more logging. I was just figuring if the issue is with the icons I could probably reproduce it on my end and it would be quicker.

[2021-12-15 16:50] songmw90 commented on #66
Binary is large in size. So, I will send you a link using dropbox. tell me your email

[2021-12-15 16:50] gastaffo commented on #66
@songmw90 gastaffo@microsoft.com

[2021-12-15 17:00] songmw90 commented on #66
I just sent

[2021-12-15 19:03] gastaffo commented on #66
@songmw90 Was able to reproduce. Investigating now.

[2021-12-15 20:03] gastaffo commented on #66
@songmw90 It appears to be something with us not reading your image files correctly. I am able to open them up in preview but when attempting to open them up in GIMP it fails saying the files are corrupted. How did y'all make the icons? Also if possible can you ensure that whoever made them exported them with an alpha channel?

[2021-12-15 20:16] gastaffo commented on #66
Im also seeing that the largest icon file "AppIcon83.5x83.5@2x~ipad.png" is 17 KB while the smaller one "AppIcon72x72~ipad.png" is 22KB so im guessing that larger icon is missing an alpha layer.

[2021-12-16 01:36] songmw90 commented on #66
Is wrapping tools affected by app icons? I'll check the icon today. But I have a question, if I enter the same -p and the same provisioning in the additional provisioning file, the error does not occur. Isn't wrapping tool using icons this time? What difference does it make?

[2021-12-16 01:37] songmw90 commented on #66
Is wrapping tools affected by app icons? I'll check the icon today. But I have a question, if I enter the same -p and the same provisioning in the additional provisioning file, the error does not occur. Isn't wrapping tool using icons this time? What difference does it make?

[2021-12-16 02:26] songmw90 commented on #66
I used https://appicon.co/ to change all app icons. But the problem seems to be the same. When I open the png file through Photoshop, the alpha channel is not checked. I created and saved the alpha channel arbitrarily, but in the png file, the alpha channel disappeared and in the case of bmp, it was confirmed that it remained.
Today, we will do a little more testing, focusing on changing the icon.

[2021-12-16 16:25] OmarHassan25 commented on #30
Guys, i am having the same error, I am using the latest wrapping tool build, any help?

[2021-12-16 16:44] gastaffo commented on #66
@songmw90 Yea the wrapper will inject an OpenIn extension into the app and part of that process is making copies of the app icons. For that errorless run its becuase the provisioning profile doesn't support the OpenIn Extension. Thats what this message is indicating
"경고: 이 애플리케이션은 하나 이상의 파일 형식 열기를 지원하지만, Intune 앱에서 지원되기 위한 적절한 권리 유형이 없습니다. -x 명령줄 인수를 사용하여 추가 프로비저닝 프로필을 지정해야 합니다. 이 프로필은 와일드카드 애플리케이

[2021-12-16 16:45] gastaffo commented on #66
@songmw90 I should also specify it seems that the largest icon file is the one causing problems however I wasn't able to open any of them in GIMP with the message  that they were corrupted

[2021-12-16 16:47] songmw90 commented on #66
After hearing your comments, today I replaced all the icons and tried the same, but the same problem occurred.

I don't know if you're aware of this error, but you can't use an alpha channel for an Apple icon.
ERROR ITMS-90717: "Invalid App Store Icon. The App Store Icon in the asset catalog in 'documera.app' can't be transparent nor contain an alpha channel."

[2021-12-16 16:50] songmw90 commented on #66
[AppIcons (5).zip](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/files/7729045/AppIcons.5.zip)

This is the asset image used for the application icon. Made through the attached site

[2021-12-16 17:13] gastaffo commented on #66
@songmw90 I was not aware of that error for the app store. However you should not be submitting wrapped apps to the app store. If you are submitting to the app store we do recommend implementing the SDK directly. Wrapped apps should be distributed as Line-Of-Buisness apps.

The source PNG is able to open and does have an alpha channel as can be seen in the bottom corner of this screen shot.
![Scre

[2021-12-16 17:27] songmw90 commented on #66
I will not upload the app to the store. Errorlog shared what I found out today while browsing the app icon alpha channel.

The compressed file attached to the previous comment is all I used to archive the app today. Can you check the files? If there is no problem, I have to think about what I can do more....

[2021-12-16 17:31] gastaffo commented on #66
@songmw90 What error did you get when using that file? Also do you mean that the only file that was an icon was that file?

[2021-12-16 17:39] songmw90 commented on #66
I don't know if I understood it well, but an asset image set is used because different images must be used for each device and resolution. (As you well know)

The attached "all" image was used for the asset image. "Include all app cion assets" is unchecked.

The error occurred with the same content.

![photo_2021-12-17_02-36-11](https://user-images.githubusercontent.com/4706240/146421297-5bc87cb4-

[2021-12-16 17:41] gastaffo commented on #66
@songmw90 but how did you generate those new icons? Was it via xcode?

[2021-12-16 17:43] songmw90 commented on #66
no. It was created by uploading the source image to the attached site. The source file is as follows
![photo_2021-12-17_02-43-15](https://user-images.githubusercontent.com/4706240/146422075-7eb9aa80-d05b-406f-9ff9-3878247ce212.jpg)

[2021-12-16 17:47] gastaffo commented on #66
@songmw90 Yea so Im thinking that website could be causing issues. Maybe try https://www.iconsgenerator.com/Home/AppIcons
Also for testing purposes. You can just make a copy of the source image and resize it using photoshop to 76x76 to see if the wrapper works. If it does than it is an issue with the website generating icons.

[2021-12-16 17:53] songmw90 commented on #66
The app icons menu of the site you gave does not work, and only three images are created in the icon set menu.

I gave you all the asset images attached. Do you have any sample apps that your company uses? Can't you attach it yourself and return it? Of course, I will also find a way to create a new icon and build it.

[2021-12-16 18:11] songmw90 commented on #66
After hearing that there may be a problem with the icon, I replaced all the icons. The binary I sent to you is outdated, and whenever I comment, I am sharing the results of archiving and testing the app.

The xcasset I attached earlier is currently applied to my xcode. There may be a problem with the site, so I just made some images here at https://makeappicon.com/, build a new app, and tried wrap

[2021-12-16 18:13] songmw90 commented on #66
I have a trivial question, is it necessary to extract the icon from within? Is it impossible to input an icon as a parameter?

[2021-12-16 18:17] gastaffo commented on #66
@songmw90 Also have you been able to test with just one icon? Like a resized 76x76 from photoshop that you put directly into xcode

[2021-12-16 18:23] songmw90 commented on #66
At first I tried to do it, but it was too difficult.
Crucially, we're not making apps for the purpose of intune wrapping. It is trying to wrap for customers who require intune wrapping.
In answer to the last question, yes. (see screenshot)

Is there no other way?

<img width="533" alt="스크린샷 2021-12-17 오전 3 21 32" src="https://user-images.githubusercontent.com/4706240/146427417-0cad69c3-82

[2021-12-16 18:24] gastaffo commented on #66
@songmw90 Did the wrapper work when the single icon? If so than it would appear to be with the website.

[2021-12-16 18:25] songmw90 commented on #66
No it's not work. same error

[2021-12-16 18:26] gastaffo commented on #66
@songmw90 Can you send me the ipa with the single icon in it? I would like to debug that one as it should be a bit simpler

[2021-12-16 18:33] songmw90 commented on #66
just sent.

[2021-12-16 20:11] gastaffo commented on #66
@songmw90 I found a possible fix for the issue however the person who originally wrote the code is on vacation and won't be back until monday. I will talk to them on monday on why the code is set up the way it is and how we should fix it. If we do find a fix it would most likely be release in January 2022.

[2021-12-17 00:49] OmarHassan25 opened #72 "Login .MSALErrorDomain -50000"
**Describe the bug:**
I am unable to log in after wrapping my application, once the user entered the app and selects the account from the authentication broker the app shows an alert that says error.MSALErrorDomain -50000

**To Reproduce**
Steps to reproduce the behavior:

1. Open the app
2. Select account from the authenticator
3. the app displays the error dialog

**Expected behavior:**

Users c

[2021-12-17 00:56] songmw90 commented on #66
Okay. I'll be waiting

[2021-12-17 06:20] OmarHassan25 commented on #48
@Kyle-Reis i have the sane issue with ny wrapped application, domainerrorcode - 50000, my authority uri contains the https part,..
. Could you please help what may cause the issue?

[2021-12-17 06:21] OmarHassan25 commented on #48
@paulpopiel i have the msaldomainerror 50000, could you please advise how you fixed it?

[2021-12-17 16:41] gastaffo commented on #72
@OmarHassan25 @abasore  That error usually means that the apps MSAL/ADAL settigns are set up correctly. You will need to set up the settings either in the info.plist like described here Microsoft Intune App SDK for iOS developer guide | Microsoft Docs

Or you can configure the settings while wrapping using the command line arguments. “-aa” for ADALAuthority, -ac for ADALClientId, and “-ar” are ADA

[2021-12-17 17:36] abasore commented on #72
Just adding on to what Garrigan mentioned. This link is for command line arguments to use when wrapping the app: https://docs.microsoft.com/en-us/mem/intune/developer/app-wrapper-prepare-ios#command-line-parameters

This link is for adding the settings to the info.plist: https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#configure-settings-for-the-intune-app-sdk

[2021-12-17 19:35] OmarHassan25 commented on #72
@gastaffo @abasore Thanks a lot for your reply,  I am already using the mentioned setiings as an agruments for the waping tool, here is my warpaing tool command,

` /Volumes/IntuneMAMAppPackager/IntuneMAMPackager/Contents/MacOS/IntuneMAMPackager  -i  /Volumes/D/mt/MTSuperMobileApp.ipa -o  /Volumes/D/mt/MyApp_Wrapped.ipa -p  /Volumes/D/mt/appstore.mobileprovision  -c"MY CERT SHA1" -aa https://login

[2021-12-20 15:49] gastaffo commented on #72
@OmarHassan25 Do you have policy assigned to the user? Wrapped apps do not allow unmanaged users.

[2021-12-20 17:35] gastaffo commented on #66
@songmw90 After more testing we have found that the icon files in the IPA are being corrupted somehow when being exported. So long term solution is to find a way to generate them that doesn't use those websites. A good quick test to see if the file is corrupted appears to be attempting to open it in GIMP as it wouldn't open those files.

However we did notice that if you open the image in Preview,

[2021-12-20 17:38] songmw90 commented on #66
Are you saying that if I don't use the website and make assets one by one using tools such as Photoshop, there will be no problem?

[2021-12-20 18:59] gastaffo commented on #66
@songmw90 Thats what we are finding. You could use the website and then use preview to export the images again which could be a little bit faster than using photoshop manually.

[2021-12-21 01:27] songmw90 commented on #66
Are you saying that it doesn't work when I build using a single 76x76 icon rather than an imageset?
Why don't you give me a sample of an image that "works well"?

[2021-12-21 16:19] gastaffo commented on #66
@songmw90  It has something to do with your icons themselves. For example this picture of a giraffe does not cause a crash.
![R](https://user-images.githubusercontent.com/56000134/146963308-92368e8a-91c8-4372-b798-1f4470f2cd65.png)

Also if we take on of the icons y'alll provided and then export them through preview that does not crash. However y'all are creating the icons being put into the app i

[2021-12-21 17:39] gastaffo commented on #66
@songmw90 Awesome good to here we might have a solution!

[2021-12-22 03:04] songmw90 commented on #66
I found something really weird. If there is nothing 'transparent', the wrapping seems to fail.

In the two attached icons, transparency is added to the upper left corner, and the wrapping result is different depending on the difference between not and not. It only succeeds when there is transparency.
(The added transparency is named _trans)

Apple forbids transparent icons, so why does this happen

[2021-12-22 18:55] gastaffo commented on #66
@songmw90 Interesting. I will have to keep that in mind while investigating on our side. It could be that adding anything transparent causes it to have an alpha channel.

I thought apple only forbid transparent store icons?

We haven't really seen this issue before so we will keep looking into it on our side but if you do run into this issue again adding an alpha layer to the icon would be a quick

[2021-12-22 19:00] songmw90 commented on #66
As you said, it is forbidden when uploading to the Apple Store, but it is not a problem to follow the guidelines and create icons. We just made the icons as a guide.

We are also making icons with transparency. But I don't think it's a complete solution to this issue. I hope you solve the issue

[2021-12-22 19:01] gastaffo commented on #66
@songmw90 It is interesting that we were able to avoid the crash by reexporting the icon through preview without adding any transparent items in general. How did you make these non-transparent icons? Are they originally from JPEGs? Also it is interesting that the icons that were causing the crash were labeled as corrupted by GIMP?

[2021-12-22 19:11] songmw90 commented on #66
As far as I know, the only file that can be used for iconset is png.
We made up the icon set from undamaged, intact files. To be honest, I don't even know what you mean by damaged and I don't understand. I can open the file and it looks fine.

Do you also have a sample app? Try removing the alpha channel by completely filling the transparent parts of the giraffe image with color.

Then build the a

[2021-12-22 19:14] gastaffo commented on #66
@songmw90 We were able to open the file in preview but GIMP told us it is corrupted.

[2021-12-22 19:18] gastaffo commented on #66
@songmw90 Also didn't you generate the icon set from a JPEG? Also we need to do the alpha channel as Open In action extension icons are transparent. I think apples requirement might only be for the App Store icon not the icon in general.

[2021-12-22 19:33] songmw90 commented on #66
Even if it is a png, if there is no transparent area, there is no alpha channel. The icon set is made with png.

What I understand is that the extension is a transparent icon with no image, but if it is a transparent icon, why not just create a transparent image randomly in the wrapper? Why is the app icon affected?

And although I am not going to upload it to the App Store, there are many icons o

[2021-12-22 20:30] gastaffo commented on #66
@songmw90 A PNG can have an alpha layer yet no transparency. Consider this image I got by exporting one of the icons via preview. It has no transparent pixels yet it has an alpha layer.

![AppIcon76x76~ipad](https://user-images.githubusercontent.com/56000134/147150355-a0d11494-9e6b-456b-9206-2ed8bafbab7b.png)
![Screen Shot 2021-12-22 at 2 17 02 PM](https://user-images.githubusercontent.com/5600013

[2021-12-22 20:35] gastaffo commented on #66
We do appreciate all the information and help you have provided with this issue.

[2021-12-22 20:42] gastaffo commented on #66
Also as a heads up I will be out of office from tomorrow until 2022-1-17. So while I am out @neiljac1 can help if y'all need anymore help.

[2021-12-22 21:27] gastaffo commented on #66
Actually @hhawkins will be around to help.

[2021-12-23 08:23] songmw90 commented on #66
We've had this problem for too long. I will proceed with wrapping with a transparent image. We will continue to cooperate.

[2021-12-28 08:23] iit2008047 opened #73 ""checking your organization data access" taking a long time to load (10-20 sec)"
**Describe the bug:**
"checking your organization data access" taking a long time to load (10-20 sec)
Mostly happens if the user launches app after few days.

https://user-images.githubusercontent.com/76396/147543078-c4fd7a27-e6ac-4884-87c9-2def83da625d.mp4

**To Reproduce**
Steps to reproduce the behavior:
1. Open the wrapped application
2. "checking your organization data access" screen is visib

[2022-01-05 06:09] iit2008047 commented on #73
Hey @gastaffo hope you are doing good.
Would really appreciate if this is looked upon. As the customer experience suffers.

[2022-01-05 15:29] vigavadi commented on #73
Hey @iit2008047, thanks for reaching out. We will take a look at this.

[2022-01-07 12:20] iit2008047 commented on #73
@vigavadi did you get a chance to look into it. Would really appreciate.

[2022-01-10 16:29] iit2008047 commented on #73
hey @vigavadi any update ?

[2022-01-11 18:15] abasore commented on #72
@OmarHassan25 Just checking in if you were able to assign policy to the user? If so, are you still seeing the app not set up alert?

[2022-01-13 19:27] gastaffo commented on #66
@songmw90 Was using the transparent image able to unblock y'all and your customers? If y'all want more help we can set up a call to talk about the issue. Due to this issue being quite niche we think using a different icons, such as the one with a transparent pixel or by exporting the icon via Preview is the best solution as of now.

Let me know if y'all need any more help.

[2022-01-13 22:27] vigavadi commented on #73
@iit2008047 We have a new release out which includes performance improvements. Can you check if you are still seeing this issue with 15.3.0 ?

[2022-01-14 21:45] iit2008047 commented on #73
thanks @vigavadi .. we are testing with the new update .. apart from the first login flow where organization data is loaded, the subsequent loading pages seems to have improved.

[2022-01-18 00:28] songmw90 commented on #66
We built the icon with a transparent 1 pixel, and distributed it this week. There does not seem to be any problem with the operation of the app.
I also agree that inserting a transparent 1 pixel into the icon is the best option. However, since there is no way for general users to know about this part, I wondered if it would be better to fix the simple "segment error". I don't mind closing the issu

[2022-01-18 16:56] gastaffo commented on #66
Closing the issue. If you need any more help feel free to reopen it and ask. Thanks for being patient with us.

[2022-01-18 16:56] #66 closed

[2022-01-19 14:59] abasore commented on #72
Closing this issue due to inactivity. @OmarHassan25 Feel free to reopen if issue persists.

[2022-01-19 14:59] #72 closed

[2022-01-28 12:50] Heimo001 opened #74 "Does not find XCode-Version 5 or higher"
**Describe the bug:**
I can not wrap my app, the tool throws an error, see the provided logs below.
Sorry for the german log file.

The tool worked a few weeks ago.
We have updated the provisioning profiles , distribution and the developer certificates.

I checked the XCode path with "xcode-select -p"
"/Applications/Xcode.app/Contents/Developer"

**To Reproduce**
Steps to reproduce the behavior:
1

[2022-01-31 12:21] Heimo001 commented on #74
Maybe there is a relation to this issue regarding Xcode 13.2.1 and Homebrew:
https://discussions.apple.com/thread/253533981?answerId=256620966022

I will test this tomorrow by going back to Xcode 13.1.

[2022-02-01 10:11] Heimo001 commented on #74
Going back to Xcode 13.1 worked for me.

You can switch between Xcode versions: [https://stackoverflow.com/a/14756127](https://stackoverflow.com/a/14756127)

[2022-02-02 16:29] alexk-84 opened #75 "Wrapped applications are not using the Authenticator App for brokered authentication"
**Describe the bug:**
We do have a few custom built apps which a wrapped with the wrapping tool.
The unwrapped apps do not need any authentication.
We are wrapping them so we are able to use application protection policies.

After wrapping we are deploying them as "Managed iOS line-of-bsiness app" to the devices.
On launch the the Popup appears as it is necessary to sign in to protect the data.

I

[2022-02-07 22:37] neiljac1 commented on #75
Hi @alexk-84,

You can use the -aa, -ac, and -ar command line parameters to specify you app's Authority URI, AAD Client Id, and Redirect URI. This will allow the wrapped application to use the Authenticator application. See the Command-line parameters section in the App Wrapper Tool documentation for more details: https://docs.microsoft.com/en-us/mem/intune/developer/app-wrapper-prepare-ios

Thank

[2022-02-08 23:26] abasore commented on #74
@Heimo001 thanks for reporting. This can happen if no XCode version is selected with 'xcode-select -s <path to xcode app>' For example, if the xcode app was deleted. The error messaging could be clearer here, so we will get that updated in a future version.

[2022-02-08 23:27] abasore commented on #74
I'll close this issue for now.

[2022-02-08 23:27] #74 closed

[2022-02-10 13:35] jamgarci-MSFT commented on #75
@alexk-84 If I recall correctly, I ran into this same issue, and it was because of the Supported account types. I needed to change it to "Accounts in any organizational directory (Any Azure AD directory - Multitenant)" from the Single tenant.

![image](https://user-images.githubusercontent.com/61254901/153418531-0a633a92-c984-4dba-aba8-60f70dc43fce.png)

[2022-02-10 14:12] neiljac1 commented on #75
Hi @alexk-84,

The "Failed to instantiate MSALPublicClientApplication" error can occur if one of the three MSAL parameters is missing or in the wrong format. I noticed above you listed the -ac parameter twice. Was that just a typo in your message? If so, could you send me the Info.plist of app after wrapping? You can email it to neiljac@microsoft.com.

Thank you,
Neil

[2022-02-15 12:45] alexk-84 commented on #75
Hi,

@jamgarci-MSFT I tried your suggestion, but did get the same error.

@neiljac1 took a look at our Info.plist and we were missing some settings.
We had to add msauthv2 and msauthv3 to LSAApplicationQueriesSchemas
and msauth."bundle id of the app" to the URL Schemes under URL Types.

Now it is working as expected.

Thank you guys for your help!

[2022-02-15 12:45] #75 closed

[2022-03-30 16:02] ryanliljestrom opened #76 "Wrapped IPA files lose NSAppTransportSecurity settings"
**Describe the bug:**
Wrapped .ipa files always have their Info.plist modified to allow arbitrary HTTP requests

**To Reproduce**
Steps to reproduce the behavior:
1. Build an .ipa where the Info.plist file either:
    1. Does not have any `NSAppTransportSecurity` set or
    2. Has `NSAppTransportSecurity` set to something other than just `NSAllowsArbitraryLoads` = YES
2. Wrap the .ipa file
3. Unzi

[2022-03-30 19:19] Kyle-Reis commented on #76
Hi @ryanliljestrom - The app wrapping tool enables NSAllowsArbitraryLoads this because of some old requirements of the ADAL authentication library which are no longer applicable. The app wrapper will still need to enable a different setting (NSAllowsArbitraryLoadsInWebContent) to ensure any applications which use SFSafariViewController work properly, however doing so should not clear the pre-defin

[2022-03-31 13:47] srv-distribution commented on #49
Hi,
We are currently facing this same issue.
We'are trying to wrap an .ipa file and we get this same error when we run the command remotely trough ssh.
When we run it locacly in a terminal it works fine.
In addition if, in the same terminal, we reload the user profile with "su -" the command fails with the same error.

The error is:

[code]

and we are using the Packager Version: 14.1.3

[2022-04-04 01:59] AceChen1 opened #77 "Use Intune wrap tool can get the AAD token on the project side?"
**Describe the bug:**
I just want to clear, if the AAD as KEYCLOAK IDP in us project, if we use intune wrapping tool to wrap, then have any way can get the AAD token from the wrapping tool side ? for we need use the AAD token to exchange the keycloak token.

**To Reproduce**

**Expected behavior:**

**Screenshots and logs:**

**Smartphone (please complete the following information):**

**Intune ap

[2022-04-06 03:17] AceChen1 commented on #77
you mean if i AAD login on the wrapping tools, then i can use msal lib to get the token and no need login again ?

[2022-04-06 14:56] gastaffo commented on #77
@AceChen1 yes. The wrapper will force a login and require policy exist (this is automatically handled) and it will do this using MSAL/ADAL (if the app doesn't already have MSAL/ADAL then we inject it). After that though, if you use AAD for authentication then you can call `acquireToken` silently and it shouldn't need to prompt for another login. There might be an edge case if its different users l

[2022-04-07 01:25] AceChen1 commented on #77
I see, thanks your message share! BTW, may i know if i don't want to get the AAD token but want to get the login session after wrapping tool login, any way we can do that? for i want follow the Oauth standard flow : Keycloak see the AAD already login, no need pop the keycloak login page again, then redirect callback url with keycloak grant code, then i can use the grant code to get the keycloak to

[2022-04-07 12:11] vishal-shukla-viitorcloud opened #78 "An invalid signing certificate was specified. Specify a valid Apple signing certificate"
**Describe the bug:**
Getting issue while wrapping up app "An invalid signing certificate was specified. Specify a valid Apple signing certificate."

**To Reproduce**
Steps to reproduce the behavior:
1. Create Build after enterprise profile added
2. IPA generated with distribute option as "Enterprise"
3. Wrap IPA with command given
4. Gives an error

/Users/**/Desktop/APP/IntuneMAMPackager/Content

[2022-04-07 14:10] Kyle-Reis commented on #78
Hi @vishal-shukla-viitorcloud, I'm unsure if the command you've provided above was copy/pasted from your MacOS terminal, but if so, it looks like there may be an issue with the specific quotation mark characters around the certificate hash. Could you try deleting them and retyping the quotation marks into the terminal? The quotation marks should not appear slanted in either direction, like this: "

[2022-04-07 17:44] gastaffo commented on #77
@AceChen1 Im not too familiar with ADAL/MSAL or Oauth so Im not sure what you mean by the login session. However when you use ADAL/MSAL to my knowledge you ask for a token and if needed it will show the login screen, unless you ask for a silent token which it will fail instead of show a login.

This page could be a better resource for MSAL related questions
https://github.com/AzureAD/microsoft-aut

[2022-04-08 12:14] vishal-shukla-viitorcloud commented on #78
Hi @Kyle-Reis,

Intune wrapping worked after removing space from sha-1 key. Followed steps from guide only. but now it worked without space.

But, After adding app into endpoint manager, it shows and installed into device from company portal.

Now Issue: App has Integrated Azure AD authentication with API & access_token so without wrapping login working fine. it has issue with intune wrapped app w

[2022-04-08 15:58] Kyle-Reis commented on #78
Hi @vishal-shukla-viitorcloud, is any error message shown after the user attempts authentication? Also, to be sure I understand correctly, the application already links to either the ADAL or MSAL library before wrapping and performs its own authentication with AAD? If so, did you provide AAD settings for for the Intune SDK to use during authentication? See [here](https://docs.microsoft.com/mem/int

[2022-04-09 09:28] vishal-shukla-viitorcloud commented on #78
Yes. I have custom login page which integrated AAD login. working fine with normal .apk & .ipa

Post-wrapping this issue coming,

As you suggested - I will try to wrap it up with command line parameters and see if it works.

But again question is: this issue happening on both android and ios... if I wrap IPA with passing those parameters and it resolves issue for ios, then I have tried to search s

[2022-04-11 16:26] gastaffo commented on #77
@AceChen1 Is this issue resolved?

[2022-04-12 12:27] vishal-shukla-viitorcloud commented on #78
@Kyle-Reis

Can you help for below 2 points:

1. Which I asked in previous comment about parameters for android wrapping command
2. After intune wrap successfully in android, by accessing log it shows "https://login.microsoftonline.com/error?code=530003"
-  checked with Azure Admin, they says that apk not properly wrapped. so can you share what can be the issue?

**For wrapping:**
1 - Invoke-AppWr

[2022-04-14 13:40] Kyle-Reis commented on #78
Hi @vishal-shukla-viitorcloud, I'm not an expert on the Android wrapping tool as my team and I specifically work on the iOS Intune SDK and app wrapper. Could you try creating an issue [here](https://github.com/msintuneappsdk/intune-app-wrapping-tool-android/issues) so the Android team can assist you? Thanks.

[2022-04-28 02:47] AceChen1 commented on #77
@gastaffo  hello , if i use wrap tool login successfully, then i use silently token function to get the token with the current account, i found i can't get the current login account at once, may i know this case is your meet before.

[2022-04-28 17:13] gastaffo commented on #77
@AceChen1 What behavior are you seeing and what are you expecting? Is the token not coming back? Are you trying to get the UPN of the currently authenticated user?

[2022-04-29 02:31] AceChen1 commented on #77
The flow is: i want get the login user after wrap tool login successfully, and then i need to use current login user account to get the current user's login token.

[2022-05-05 17:40] gastaffo commented on #77
@AceChen1 Sorry for the slow response. This might be a flow that would be better supported by directly integrating the SDK if you could. https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios

From their you control when the AAD screen appears and keep track of who is logged in. You can still require the app is only used with policy like a wrapped app by using `MAMPolicyRequired` and `A

[2022-05-17 12:41] gv-sothebys-tristan opened #79 "Okta push MFA not working after using app wrapper"
**Describe the bug:**
My app uses Okta with MFA (Okta Verify) to authenticate user within the app, but after using the app wrapper Okta Verify Push has stopped working, that is it does not register that the MFA push has been accepted. Any ideas what might be the cause?

**Expected behavior:**
Okta push MFA should be registered as accepted and user should be authenticated within the app.

**Screens

[2022-05-18 18:02] vigavadi commented on #79
Hey @gv-sothebys-tristan, it seems you are using your own authentication method. You can refer to this article for more details: [App initiated authentication](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#special-considerations-when-using-msal-for-app-initiated-authentication)
Could you try setting SafariViewControllerBlockedOverride to true in the IntuneMAMSettings dictionary

[2022-05-19 10:50] gv-sothebys-tristan commented on #79
thanks will try it out!

[2022-05-20 02:26] songmw90 opened #80 "I wrapped the application and it worked, but it doesn't seem to work"
We have already wrapped our packaged app and we have successfully wrapped it.
However, I heard a report from the client that MAM was not running properly, and I found that the wrapped app was different when the screen was turned on.

![screen](https://user-images.githubusercontent.com/4706240/169436200-fd5f8de1-53c2-48fb-bc22-18184aa11d12.png)

When I checked, a similar screen appeared for the And

[2022-05-20 15:14] vigavadi commented on #79
Hey @gv-sothebys-tristan, You can send me the logs and videos at vigavadi@microsoft.com

[2022-05-20 15:18] vigavadi commented on #80
Hey @songmw90 This screen wouldn't appear every time. If you are able to access you app, then it means the policies should have successfully applied. What issues are you seeing with the document?

[2022-05-20 15:21] songmw90 commented on #80
If you directly install the Android wrapped app and run the app, it will appear like the screenshot above.

However, in the case of iOS, even when directly installed, it works the same as an unwrapped app. I think Android's execution plan seems to be right.

[2022-05-24 16:13] gv-sothebys-tristan commented on #79
Great! I have sent you a email (from:tristan.frantz.consultant@sothebys.com) 👍

[2022-05-25 14:33] vigavadi commented on #80
@songmw90 Could you send me logs as per this document: [Logs for Wrapped Apps](https://docs.microsoft.com/en-us/mem/intune/developer/app-wrapper-prepare-ios#collecting-logs-for-your-wrapped-applications-from-the-device) to vigavadi@microsoft.com?

[2022-05-25 15:05] Kyle-Reis commented on #76
Hi @ryanliljestrom - This issue should be addressed in our [latest release](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/releases/latest) (16.0.0)

[2022-05-25 15:06] #76 closed

[2022-05-25 15:09] Kyle-Reis commented on #78
Closing out this issue. Please reach out again if you need any further help on the iOS side!

[2022-06-07 18:32] vigavadi commented on #79
@gv-sothebys-tristan Thanks for the logs. Unfortunately, Okta is not supported with MSAL which is what the app wrapper uses for authentication.

[2022-06-09 06:20] songmw90 commented on #80
The diagnostic console menu is present, but doesn't open when starting the app.
As a special note, intune wrapping fails in versions 14.x and 16.0. We tested it with a successful app on version 15.1.4

[2022-06-13 20:18] vigavadi commented on #80
Hey @songmw90, does the diagnostic console not open even after turning the toggle on from the settings and then restarting the app?

![IMG_0001](https://user-images.githubusercontent.com/62442249/173437836-87e047e6-1240-4aea-acce-f71b2e48b9a0.jpg)

[2022-06-14 03:43] songmw90 commented on #80
Yes it is

[2022-06-15 14:51] vigavadi commented on #80
@songmw90 Could you try out version 16.0.2 and see if that fixes your issue?

[2022-06-16 02:21] songmw90 commented on #80
We had success with the wrap tool version 16.0.2. (Before that, lapping failed at all)
But still the first screen is the same, even with all options enabled, the console doesn't open

Is the above request still valid?

[2022-06-16 14:20] songmw90 commented on #80
No, it was not resolved. it's late  night here. I will prepare the report tomorrow and send it to you.

[2022-06-17 17:58] vigavadi commented on #80
@songmw90 Thanks for the info, this is really helpful for debugging issues. One follow-up question, does you app support scenes or does your application still rely on the AppDelegate to manage the single window object? If your app is not configuring scenes, could you remove this from your Info.plist file and try again?
<img width="792" alt="image" src="https://user-images.githubusercontent.com/624

[2022-06-18 13:41] songmw90 commented on #80
We are currently on Saturday. The code is at the company, so I'll check it out after the weekend and let you know. However, our app has been maintained since iOS5. So, as far as I know, it doesn't use scenes, it uses AppDelegate .

[2022-06-20 05:47] songmw90 commented on #80
The Application Scene Manifest (Generation) value of our app is No for both debug / release.
As you said, when I deleted the column and wrapped it, the first screen changed and the console appeared properly.

However, we can't delete this option right away because we don't know what effect it will have on our app. Is this issue going to be supported by the wrapping tool or should we delete the col

[2022-06-20 15:42] vigavadi commented on #80
@songmw90 Great to know that it worked. We'll work on a fix for this. But in general, if your app doesn't use scenes, then removing UIApplicationSceneManifest shouldn't be any problem. The UIApplicationSceneManifest is only useful if you have the UISceneConfigurations dictionary set. You can refer to the Apple Documentation for [UIScenes](https://developer.apple.com/documentation/uikit/app_and_env

[2022-06-22 04:39] songmw90 commented on #80
The app works, but crashes. There was no crash in the old version.

I sent the log and video by e-mail, so please check

[2022-07-13 13:12] apinston opened #81 "Wrapped application crashes since 16.0.0 version"
**Describe the bug:**
Since the version 16.0.0 of the tool, my wrapped application crashed when I launch it.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the wrapped application
2. Open the app
3. Login with MSAL SDK and apply policies
4. I can navigate in the application
5. Kill the app
6. Open the app
7. It crashes at launch

**Expected behavior:**
The application doesn't crash

[2022-07-18 19:05] chadseippel commented on #81
Hi @apinston, could you share crash logs?

[2022-07-20 08:43] apinston commented on #81
Hello @chadseippel,
Please find enclosed the crash logs: [wrapped-16.0.5.zip](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/files/9148125/wrapped-16.0.5.zip)

Do you have another release that is coming soon?

Thanks,

[2022-07-22 16:07] vigavadi commented on #81
@apinston Can you try out v16.0.8 and see if that fixes the issue.

[2022-07-22 16:07] vigavadi commented on #79
Closing this since Okta is not supported with MSAL.

[2022-07-22 16:07] #79 closed

[2022-07-25 08:01] apinston commented on #81
Hello @vigavadi,
We still have the crash with v16.0.8.
Here the logs: [16.0.8.crash.zip](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/files/9179200/16.0.8.crash.zip)
Thanks

[2022-08-01 06:53] apinston commented on #81
Hello @vigavadi,
Any updates on the crash?
Thanks

[2022-08-30 10:40] apinston commented on #81
Hello @vigavadi,
I did a new test with the version 16.0.9 and I still have the crash.
Do you know if a new release is coming?
Thanks,

[2022-09-06 01:35] xanxus135 opened #82 "Cause of the error to be provided for investigation:Error Domain=IntuneAppPackager Code=2 "/usr/bin/codesign exited with an error." UserInfo={NSLocalizedDescription=/usr/bin/codesign exited with an error.}"
It was all right before, but it could not be wrapped IPA in the pipeline yesterday, no configuration was changed

**Pipeline output log ：**

Application packaging in progress...
Version of MACOSX is 11.6.8
Version of XCode installed is Xcode 13.2.1
Build version 13C100

Parsing provisioning profile...
Parsing main app provisioning profile...
Parsing extension provisioning profiles...
Checking that

[2022-09-06 06:29] xanxus135 commented on #82
version 16.0.0 works fine

[2022-09-06 06:29] #82 closed

[2022-09-14 09:05] MallikarjunH opened #83 ""App Not Set Up" The currently enrolled account (null) us not set up to use this app..."
Hi Team, I am facing one issue.

**Describe the bug:**
When I try to open the iOS app from my iPhone device, It will ask me to enter my Microsoft email Id and password. Once its authenticated I am getting messages like,

"App Not Set Up" The currently enrolled account (null) is not set up to use this app. Click "Remove Account" to remove this account by signing into another account. Otherwise, con

[2022-09-19 09:37] MallikarjunH commented on #83
Got the root cause.

**Issue** - The app or the user was not targeted with Intune App Protection Policy.
**Solution**:  Fixed issue by MDM team after applying App Protection Policy.

Here is the link -https://learn.microsoft.com/en-us/mem/intune/apps/app-protection-policies

[2022-09-19 09:37] #83 closed

[2022-09-22 07:27] AlexandruSpotMe opened #84 "[iOS] Guardsquare protected builds"
**Describe the bug:**
We are using Guardsquare to protect our builds, and would like then to wrap with Intune. One of the protections from Guardsquare seems to be causing a problem with Intune, namely code integrity : obj-c protection.

[code]

If we disable this protection it seems to work well. Is there a way to still have this protection enabled while wrapping with Intune?

**To Reproduce**
Ste

[2022-09-22 14:25] Kyle-Reis commented on #84
Hi @AlexandruSpotMe, due to the nature of how the Intune MAM SDK works, this protection cannot be enabled.

[2022-09-22 14:29] AlexandruSpotMe commented on #84
Thank you 👍

[2022-09-22 14:29] #84 closed

[2022-09-28 06:37] briny-hitesh opened #85 "Authentication not working after wrapping IPA."
Below error log I am getting from the diagnoses.
IntuneMAM: MAM611 Config file not found: Config.plist
IntuneMAM: MAM611 Is first launch
IntuneMAM: MAM611 Config file not found: NBUConfig.plist
IntuneMAM: MAM611 First launch resetting state or identity
IntuneMAM: MAM611 resetting state for identity: nil
IntuneMAM: CMARKeychainUtils: Keychain utils was accessed before app was fully initialized
Intu

[2022-10-03 19:16] vigavadi commented on #80
@songmw90 This has been fixed in 16.1.1

[2022-10-05 14:53] vigavadi commented on #85
@briny-hitesh What version of the wrapper are you using?

[2022-10-05 15:21] briny-hitesh commented on #85
Intune Wrapping tool: 17.0.0

[2022-10-11 16:17] vigavadi commented on #81
@apinston Are you still seeing this issue? We made a bunch of fixes since that version. Please use one of these

- 16.1.1 if you are on Xcode13
- 17.0.0 if you are using Xcode14

[2022-10-11 16:26] vigavadi commented on #85
@briny-hitesh Would you be willing to share an unwrapped version of the app? That would help me to debug issues by trying to wrap the app on my end.
From the logs you shared, it looks like MSAL initialization is failing for some reason. Also, a full log would be helpful.
You can send these to vigavadi@microsoft.com

[2022-10-12 07:25] apinston commented on #81
Hello @vigavadi,
We have implemented InTune SDK on the app.
We do not use anymore the wrapping tool.
Thanks,

[2022-10-12 14:32] #81 closed

[2022-10-21 20:21] FabrizioEnd opened #86 "unable to download Microsoft Intune App Wrapping Tool for iOS"
unable to download Microsoft Intune App Wrapping Tool for iOS (IntuneAppUtil )

[2022-10-21 21:38] Kyle-Reis commented on #86
Hi @FabrizioEnd - Could you describe the exact steps you are following to attempt to download the app wrapping tool? You should be able to download the latest release here: https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/releases/latest

[2022-10-25 17:07] rbanker commented on #86
I will add to this: as part of our CI-CD process download the latest wrapping tool DMG from:

https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/raw/master/Microsoft%20Intune%20Application%20Restrictions%20Packager%20for%20iOS.dmg

This has worked for years and worked up until yesterday (10/24/2022).  The link now generates a 404.  Has it moved to a new URL?

Thanks!

[2022-10-25 18:30] Kyle-Reis commented on #86
Hi @rbanker - Could you use this URL instead: https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/raw/main/Microsoft%20Intune%20Application%20Restrictions%20Packager%20for%20iOS.dmg

We've just renamed the default branch in this repository to "main", as part of a broader effort to use more inclusive terminology in our team's private and public source repositories.

[2022-10-25 19:47] rbanker commented on #86
The new URL worked.  Thank you @Kyle-Reis!

[2022-11-14 12:28] vas2086 commented on #85
@briny-hitesh - did you manage to find a solution?

[2022-11-14 13:29] vas2086 commented on #85
I am facing a similar issue where only some iOS users are not able to open our application. When they click in the installed application they get "Your AuthenticationContext is configured to allowed brokered authentication but your redirect URI is not setup properly...".  It's a native application compiled for iOS14.0 or later and is wrapped using 17.0.

Our team checked the following:
•	All requi

[2022-11-14 22:03] mlabrum opened #87 "XCode 14.1 and getting more logs"
Hi Team,

I'm wondering if this tool is compatible with XCode 14.1? as I'm getting this error for each app I'm trying to sign.

If it is compatible, is there any way to get additional logs of why this may be happening?

Thanks,

**Screenshots and logs:**
[code]

[2022-11-16 18:41] neiljac1 commented on #87
Hi @mlabrum. Yes, the packager tool is supported with Xcode 14 and macOS 13.0. The failure occurred while signing your application's Frameworks directory. To narrow down where the failure is occurring, can you manually run the follow command on each .framework directory and .dylib inside the Frameworks directory?

codesign --force --sign "6267B37433C4D103033A85AF88413C79FB4B977C" --entitlements PA

[2022-11-17 12:05] mugheesEdwards opened #88 "Intune packages crashes when tries to wrap an ipa"
I'm using Xcode 14 and intune 17.1.
When I try to wrap my application the intune package crashes
[IntuneAppPackager_log_2022_11_321_12_19_39.txt](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/files/10031249/IntuneAppPackager_log_2022_11_321_12_19_39.txt)

<img width="849" alt="Screenshot 2022-11-17 at 17 00 06" src="https://user-images.githubusercontent.com/118359722/202441353-eed

[2022-11-17 13:00] mugheesEdwards commented on #88
Hi
I'm un
[intune 17.1.zip](https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios/files/10031689/intune.17.1.zip)
able to send you an email on the given email id.
It says "Your message wasn't delivered because the recipient's email provider rejected it."
Also, I've attached the whole folder here which I am using. InfoPlist.strings are almost empty for every language.
Thanks.

[2022-11-17 13:17] neiljac1 commented on #88
Hi @mugheesEdwards. Were you trying to send a .zip file to my email or the .ipa? If an .ipa, please try renaming it to a .zip file. The .zip file you attached here is the packager, I would need to look at the application's InfoPlist.strings files to determine what is causing the crash.

Thanks,
Neil

[2022-11-23 14:23] faken opened #89 "InTune crashes when wrapping iOS IPA-File (entitlements?)"
**Describe the bug:**
When wrapping my IPA-File InTune is crashing with the following error message:

[code]

The IPA is signed as an enterprise build with the same provisioning profile I am passing to InTune.
There are no special entitlements enabled for the IPA-file.
What am I doing wrong?

[2022-11-23 14:48] jamgarci-MSFT commented on #89
@faken not sure if this is the cause, but you are missing `true` after the flag `-v`

[2022-11-23 14:53] faken commented on #89
I've already tried it with `-v true` and `-e` to strip the entitlements.
Still having the same issue:
[code]

[2022-11-23 14:56] jamgarci-MSFT commented on #89
Oh you are not alone see #88

[2022-11-23 14:57] faken commented on #89
But actually looking at the stack trace, the cause for the issue looks to be something else.
@jamgarci-MSFT

[2022-11-23 15:02] jamgarci-MSFT commented on #89
What version of the wrapping tool are you using?

[2022-11-23 16:00] vigavadi commented on #89
@faken Would you be willing to share an unwrapped version of the app? If so, can you send it to vigavadi@microsoft.com? I'll try to wrap it on my end.

[2022-11-28 15:37] vigavadi commented on #89
@faken Thanks! I'll take a look

[2022-11-28 16:33] vigavadi commented on #89
@faken The input app needs to be signed before attempting to wrap it. Is this app already signed? Here are the prerequisites: [General prerequisites for the app wrapping tool](https://learn.microsoft.com/en-us/mem/intune/developer/app-wrapper-prepare-ios#general-prerequisites-for-the-app-wrapping-tool)